<div class="appendix__body-text">
    ${body}
</div>
<a download rel="noopener" href="https://data.caltech.edu/tindfiles/serve/75c1999b-a7aa-425a-a9e6-f10b8fc003f3/" class="download-btn">Download Edition 2.1 - full version</a>
<a download rel="noopener" href="https://data.caltech.edu/tindfiles/serve/d15f7bd8-4872-4001-9e27-ac6a3279ef8e/" class="download-btn">Download Edition 2.1 - light version</a>
<a download rel="noopener" href="https://data.caltech.edu/tindfiles/serve/5d9e5b6f-5dc9-4ac2-8fca-07ae8eca9fe6/" class="download-btn">Download Edition 2.1 - PDF version</a>