<div class="vid-metadata ${if(it.isSection)}vid-metadata--in-section${elseif(it.isSubsection)}vid-metadata--in-modal${endif}">
    ${if(it.species)}
        <div class="vid-metadata__item">
            <a class="vid-metadata__value vid-metadata__link vid-metadata__link--italicize" href="C-phylogenetic-tree.html#${it.speciesId}">${it.species}</a>
        </div>
    ${endif}

    ${if(it.collector)}
        <div class="vid-metadata__item">
            <span class="vid-metadata__key">Collected by:</span>
            ${if(it.collectorProfile)}
                <a class="vid-metadata__value vid-metadata__link" href="B-scientist-profiles.html#${it.collectorId}">${it.collector}</a>
            ${else}
                <span class="vid-metadata__value">${it.collector}</span>
            ${endif}
        </div>
    ${endif}

    ${if(it.sources)}
        <div class="vid-metadata__item">
            <span class="vid-metadata__key">Source:</span>
            ${for(it.sources)}
                <a class="vid-metadata__value vid-metadata__link" href="${it.link}">${it.text}</a>
                ${if(it.last)}${else}<span  class="vid-metadata__text">, </span>${endif}
            ${endfor}
        </div>
    ${endif}

    ${if(it.doi)}
        <div class="vid-metadata__item">
            <span class="vid-metadata__key">DOI:</span>
            <a class="vid-metadata__value vid-metadata__link" href="https://doi.org/${it.doi}" target="_blank">${it.doi}</a>
        </div>
    ${endif}

    ${if(it.structures)}
        <div class="vid-metadata__item">
            <span class="vid-metadata__key">Structure:</span>
            ${for(it.structures)}
                <a class="vid-metadata__value vid-metadata__link" href="${it.link}">${it.text}</a>
                ${if(offline)}${else}${if(it.viewerId)}<button class="vid-metadata__viewer-btn" value="${it.viewerId}"></button>${endif}${endif}
                ${if(it.last)}${else}<span  class="vid-metadata__text">, </span>${endif}
            ${endfor}
        </div>
    ${endif}
</div>