.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
.level3 {
  background: #D3D3D3;
  border-radius: 25px;
  padding: 15px;
  margin: 10px;
}
h3 .level3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
