<div class="appendix-accordion-group">
    ${for(aboutEntries)}
        <div id="${aboutEntries.id}" class="appendix-accordion-group__dropdown-anchor"></div>
        <h2>
            <button id="${aboutEntries.id}-button" class="appendix-accordion-group__button" aria-controls="${aboutEntries.id}-panel" aria-expanded="false">
                <span class="appendix-accordion-group__title">${aboutEntries.name}</span>
                <span class="appendix-accordion-group__expand-icon">${svg/plus.svg()}</span>
            </button>
        </h2>
        <div id="${aboutEntries.id}-panel" 
            class="appendix-accordion-group__panel appendix-accordion-group__panel--hidden" 
            aria-labelledby="${aboutEntries.id}-button"
            style="height:0px"
        >
            <div class="about-page-blurb">
                ${aboutEntries.content}
            </div>
        </div>
    ${endfor}
</div>