<div class="appendix">
    <a href="${prevSection}.html" class="nav-arrow appendix__nav-arrow ${if(prevSection)}${else}appendix__nav-arrow--hidden${endif}" ${if(prevSection)}data-page="prev"${endif} aria-label="Previous section">${svg/left-nav.svg()}</a>
    <div class="appendix__content-container">
        <h1 class="appendix__title">${if(chapter)}<span class="appendix__title-chapter">${chapter}</span>${endif}${title}</h1>
        ${if(appendixTypeFeatures)}
            ${features-page.html()}
        ${elseif(appendixTypeProfiles)}
            ${profiles-page.html()}
        ${elseif(appendixTypeTree)}
            ${tree-page.html()}
        ${elseif(appendixTypeReferences)}
            ${references-page.html()}
        ${elseif(appendixTypeAbout)}
            ${about-page.html()}
        ${elseif(appendixTypeDownload)}
            ${download-page.html()}
        ${endif}
    </div>
    <a href="${nextSection}.html" class="nav-arrow appendix__nav-arrow ${if(nextSection)}${else}appendix__nav-arrow--hidden${endif}" ${if(nextSection)}data-page="next"${endif} aria-label="Next section">${svg/right-nav.svg()}</a>
</div>