<div class="appendix-accordion">
    ${for(accordionData)}
        <div id="${it.id}" class="appendix-accordion__entry-anchor"></div>
        <h2>
            <button class="appendix-accordion__entry-header" aria-expanded="false" aria-controls="${it.id}-panel">
                <span class="appendix-accordion__entry-title">${it.title}</span>
                <span class="appendix-accordion__entry-toggle-icon">${svg/plus.svg()}</span>
            </button>
        </h2>
        <div id="${it.id}-panel" class="appendix-accordion__entry-panel appendix-accordion__entry-panel--collapsed" style="height:0px">
            ${if(appendixTypeFeatures)}
                ${it:feature-index-entry.tmpl()}
            ${elseif(appendixTypeProfiles)}
                ${it:profile.tmpl()}
            ${elseif(appendixTypeAbout)}
                ${it:about-entry.tmpl()}
            ${endif}
        </div>
    ${endfor}
</div>