<div class="appendix">
    <a href="${prevSection}.html" class="nav-arrow appendix__nav-arrow ${if(prevSection)}${else}${endif}" data-nav="prev" aria-label="Previous section">${svg/left-nav.svg()}</a>
    <div class="appendix__content-container">
        <h1 class="appendix__title"><span class="appendix__title-chapter">${chapter}</span>${title}</h1>
        ${if(appendixTypeFeatures)}
            ${appendix-accordion.tmpl()}
        ${elseif(appendixTypeProfiles)}
            ${appendix-accordion.tmpl()}
        ${elseif(appendixTypeTree)}
            ${body}
            ${treeData:media-viewer.tmpl()}
        ${elseif(appendixTypeAbout)}
        ${elseif(appendixTypeReferences)}
        ${elseif(appendixTypeDownload)}
        ${endif}
    </div>
    <a href="${nextSection}.html" class="nav-arrow appendix__nav-arrow ${if(nextSection)}${else}${endif}" data-nav="next" aria-label="Next section">${svg/right-nav.svg()}</a>
</div>