<div class="book-chapter-content">
    ${if(prevSection)}
        <a href="${prevSection}.html" class="book-page-nav" data-nav="prev">&#8249;</a>
    ${else}
        <a class="book-page-nav hidden">&#8249;</a>
    ${endif}
    <div class="book-chapter-text-section">
        <div class="book-text-content book-chapter-quote">
            ${body}
        </div>
        <div class="book-chapter-title">
            ${if(chapter)}<h1>Chapter ${chapter}</h1>${endif}
            <h1>${title}</h1>
        </div>
    </div>
    ${if(nextSection)}
        ${if(nextSection)}<a href="${nextSection}.html" class="book-page-nav" data-nav="next">&#8250;</a>${endif}
    ${else}
        <a class="book-page-nav hidden">&#8250;</a>
    ${endif}
</div>