<div class="comp-slider comp-slider--hidden ${if(it.isSection)}comp-slider--main-section${endif}" data-offline="${offline}">
    <img class="comp-slider__before-img" data-src="${it.sliderImgName}_before.jpg">
    <div class="comp-slider__after-img" data-src="${it.sliderImgName}_after.jpg"></div>
</div>