<div class="appendix__body-text">
    ${body}
</div>
<a download rel="noopener" href="https://renc.osn.xsede.org/ini210004tommorrell/D1.20274/cell_atlas_offline.zip" class="download-btn">Download Edition 2.3 - full version</a>
<a download rel="noopener" href="https://renc.osn.xsede.org/ini210004tommorrell/D1.20274/cell_atlas_offline_lite.zip" class="download-btn">Download Edition 2.3 - light version</a>
<a download rel="noopener" href="https://renc.osn.xsede.org/ini210004tommorrell/D1.20278/Atlas.pdf" class="download-btn">Download Edition 2.3 - PDF version</a>
