<div class="appendix__body-text">
    ${body}
</div>
<a download rel="noopener" href="https://data.caltech.edu/tindfiles/serve/e483a23e-e433-4090-b854-6f92ec34ff41/" class="download-btn">Download Edition 2.2 - full version</a>
<a download rel="noopener" href="https://data.caltech.edu/tindfiles/serve/78733d4e-f286-4053-9690-2db105dbd08a/" class="download-btn">Download Edition 2.2 - light version</a>
<a download rel="noopener" href="https://data.caltech.edu/tindfiles/serve/5d9e5b6f-5dc9-4ac2-8fca-07ae8eca9fe6/" class="download-btn">Download Edition 2.1 - PDF version</a>