<div class="appendix__body-text">
    ${body}
</div>
<a download rel="noopener" href="https://data.caltech.edu/tindfiles/serve/6455c63d-e63c-41e1-a182-52afd11db4d9/" class="download-btn">Download Edition 2.1 - full version</a>
<a download rel="noopener" href="https://data.caltech.edu/tindfiles/serve/ac34749b-7b28-4c61-a6bc-c38ca906fb65/" class="download-btn">Download Edition 2.1 - light version</a>
<a download rel="noopener" href="https://data.caltech.edu/tindfiles/serve/5d9e5b6f-5dc9-4ac2-8fca-07ae8eca9fe6/" class="download-btn">Download Edition 2.1 - PDF version</a>