<div class="appendix-accordion-group">
    ${for(featureIndex)}
        <div id="${featureIndex.name}" class="appendix-accordion-group__dropdown-anchor"></div>
        <h2>
            <button id="${featureIndex.name}-button" class="appendix-accordion-group__button" aria-controls="${featureIndex.name}-panel" aria-expanded="false">
                <span class="appendix-accordion-group__title">${featureIndex.name}</span>
                <span class="appendix-accordion-group__expand-icon">${svg/plus.svg()}</span>
            </button>
        </h2>
        <div id="${featureIndex.name}-panel" 
            class="appendix-accordion-group__panel appendix-accordion-group__panel--hidden" 
            aria-labelledby="${featureIndex.name}-button"
            style="height:0px"
        >
            <div class="feature-index-section-list">
                <ul>
                    ${for(featureIndex.refs)}
                        <li class="feature-index-section-list__li">
                            <span class="feature-index-section-list__species-name">${featureIndex.refs.species} - </span> 
                            <a class="feature-index-section-list__link"
                                href="${featureIndex.refs.ref.section}.html${if(featureIndex.refs.ref.subsection)}#${featureIndex.refs.ref.subsection}${endif}"
                            >
                                ${featureIndex.refs.ref.label}
                            </a>
                        </li>
                    ${endfor}
                </ul>
            </div>
        </div>
    ${endfor}
</div>