<footer>
  <a href="https://www.library.caltech.edu/" target="_blank" class="footer-link">A PUBLICATION OF THE CALTECH LIBRARY</a>
  <span>&#169; 2020</span>
  <a href="about.html" class="footer-link">ABOUT THIS BOOK</a>
  ${if(currentPageNum)}
      <div class="progress-toggle-container">
        <label class="progress-switch">
          Progress
          <input class="progress-switch-input sr-only" type="checkbox" disabled>
          <span class="progress-switch-slider"></span>
        </label>
      </div>
  ${endif}
</footer>