<footer>
  <a href="https://www.library.caltech.edu/" target="_blank" class="footer-link">A PUBLICATION OF THE CALTECH LIBRARY</a>
  <span>&#169; 2020</span>
  <a href="about.html" class="footer-link">ABOUT THIS BOOK</a>
</footer>