<div class="fs-tree-confirm fs-tree-confirm--fs-overlay">
    <div class="fs-tree-confirm__modal">
        <p class="fs-tree-confirm__prompt">Allow Tree to display fullscreen?</p>
        <div class="fs-tree-confirm__btn-container">
        <button class="fs-tree-confirm__btn fs-tree-confirm__cancel-btn">Cancel</button>
        <button class="fs-tree-confirm__btn fs-tree-confirm__confirm-btn">OK</button>
        </div>
    </div>
</div>