<header class="header">
    <button class="header__nav-btn" aria-label="Open navigation">
        <span class="header__nav-icon">${svg/hamburger.svg()}</span>
    </button>
    ${if(offline)}${else} ${search-widget.tmpl()} ${endif}
    <h1 class="header__title">${chapter}${if(section)}.${section}${endif} ${title}</h1>
    <a class="header__home-link" href="index.html">
        <img class="header__logo header__logo--mobile" alt="Cell Atlas Logo" src="img/MinimalLogoAInverted.png">
        <img class="header__logo header__logo--desktop" alt="Cell Atlas Logo" src="img/AtlasLogoInvertedLong.svg">
    </a>
</header>