<header class="main-color-background">
    <button id="openNavButton" onclick="toggleNav(this)" class="main-color-background header-nav-button">&#9776;</button>
    <span class="header-title-mobile">${chapter}${if(section)}.${section}${endif} ${title}</span>
    <a href="index.html">
        <img alt="Atlas of Bacterial and Archaeal Cell Structure Home" src="img/AtlasLogoInvertedLong.png" class="header-logo">
        <img alt="Atlas of Bacterial and Archaeal Cell Structure Home" src="img/MinimalLogoAInverted.png" class="header-logo-mobile" >
    </a>
</header>