<!DOCTYPE html>
<html lang="en">

${head.html()}

<body class="index preload">
    <div class="book-page-container">
        <div class="landing-page-container ${if(banner)} landing-page-container--preview-banner ${endif}">
            ${if(banner)}
                <div class="landing-update-banner">
                    <span>${banner}</span>
                </div>
            ${endif}
            <div class="main-color-background landing-page-logo">
                <img alt="Atlas of Bacterial and Archaeal Cell Structure Logo" src="img/AtlasLogoInvertedLong.svg">
            </div>
            <div class="landing-page-text">
                <h1>${title}</h1>
                <h2>by ${author}</h2>
                <div class="landing-page-blurb">
                    ${body}
                </div>
                <div class="landing-page-options-container">
                    <a href="begin.html" id="readNowButton" class="landing-page-start-button">${svg/noun_Play.svg()}<span>READ ONLINE NOW</span></a>
                    ${if(offline)}${else}
                        <p class="landing-page-download-button">or <a href="download.html">DOWNLOAD</a></p>
                    ${endif}
                </div>
            </div>
        </div>
        <div class="footer-container">
          ${footer.html()}
        </div>
    </div>

  <script src="js/script.js"></script>
</body>

</html>