<!DOCTYPE html>
<html lang="en">

    ${components/head.html()}

    <body class="index preload">
        <div class="index__content-container">
            <div class="index__logo">
                <img class="index__logo-img" src="img/AtlasLogoInvertedLong.svg" alt="Atlas of Bacterial and Archaeal Cell Structure logo">
            </div>
            <div class="index__text-container">
                <h1 class="index__title">${title}</h1>
                <h2 class="index__author">by ${author}</h2>
                <div class="index__body">${body}</div>
                <a href="begin.html" class="index__link index__start-link"><span class="index__start-link-icon">${svg/play.svg()}</span>READ ONLINE NOW</a>
                ${if(offline)}${else}
                    <p class="index__link index__download-text">or<a href="download.html" class="index__download-link">DOWNLOAD</a></p>
                ${endif}
            </div>
        </div>
        ${components/footer.html()}
        <script src="js/script.js"></script>
    </body>

</html>