<!DOCTYPE html>
<html lang="en">

${head.tmpl()}

<body class="index preload">
    <div class="book-page-container" ${if(offline)}data-offline="true"${endif}>
        <div class="landing-page-container ${if(previewBanner)} landing-page-container--preview-banner ${endif}">
            ${if(previewBanner)}
                <div class="landing-update-banner">
                    <span>Edition 2.0 coming September 6th! Preview it <a class="landing-update-banner__link" href="/preview">here</a> now.</span>
                </div>
            ${endif}
            <div class="main-color-background landing-page-logo">
                <img alt="Atlas of Bacterial and Archaeal Cell Structure Logo" src="img/AtlasLogoInvertedLong.svg">
            </div>
            <div class="landing-page-text">
                <h1>${title}</h1>
                <h2>by ${author}</h2>
                <div class="landing-page-blurb">
                    ${body}
                </div>
                <div class="landing-page-options-container">
                    <a href="${firstPage}.html" id="readNowButton" class="landing-page-start-button">${svg/noun_Play.svg()}<span>READ ONLINE NOW</span></a>
                    ${if(offline)}
                    ${else}
                        <p class="landing-page-download-button">or <a href="download.html">DOWNLOAD</a></p>
                    ${endif}
                </div>
            </div>
        </div>
        <div class="footer-container">
          ${footer.tmpl()}
        </div>
    </div>

  <script src="js/script.js"></script>
</body>

</html>