<div class="media-viewer ${if(it.isSection)}media-viewer--main-section${endif}">
    ${if(it.hasTabMenu)}
        <div class="media-viewer__tab-container ${if(it.isSection)}media-viewer__tab-container--main-section${endif}">
            <button class="media-viewer__tab-btn media-viewer__tab-btn-vid--selected" value="vid">${svg/noun_Video.svg()}</button>
            <button class="media-viewer__tab-btn" value="img">${svg/noun_Image.svg()}</button>
        </div>
    ${endif}
    <div class="media-viewer__media-container ${if(it.isSection)}media-viewer__media-container--main-section${else}media-viewer__media-container--subsection${endif}">
        ${if(it.vid)} ${it:video-player.tmpl()} ${endif}
        ${if(it.img)} ${it:comp-slider.tmpl()} ${endif}
        <button class="media-viewer__fullscreen-btn media-viewer__fullscreen-btn--hidden" aria-label="Enter full screen" title="Enter full screen">
            <div class="media-viewer__fullscreen-btn-icon media-viewer__enter-fs-icon">${svg/fullscreen.svg()}</div>
            <div class="media-viewer__fullscreen-btn-icon media-viewer__exit-fs-icon media-viewer__fullscreen-btn-icon--hidden">${svg/exit-fullscreen.svg()}</div>
        </button>
    </div>
</div>