<div class="nav-controls-mobile">
    <a href="${prevSection}.html" class="book-page-nav-mobile">&#8249;</a>
    <button onclick="toggleView(this)" value="video" class="nav-controls-button">Video</button>
    <button onclick="toggleView(this)" value="text" class="nav-controls-button">Text</button>
    <a href="${nextSection}.html" class="book-page-nav-mobile">&#8250;</a>
</div>