<div class="page-controls-mobile">
    ${if(prevSection)}
        <a href="${prevSection}.html" class="page-controls-nav">&#10094;</a>
    ${else}
        <a href="${prevSection}.html" class="page-controls-nav hidden">&#10094;</a>
    ${endif}
    ${if(video)}
        <button onclick="toggleView(this)" value="text" class="page-controls-button page-controls-selected">
            ${noun_File.svg()}
        </button>
        <button onclick="toggleView(this)" value="video" class="page-controls-button">
            ${noun_Video.svg()}
        </button>
    ${else}
        <button onclick="toggleView(this)" value="text" class="page-controls-button hidden">Text</button>
        <button onclick="toggleView(this)" value="video" class="page-controls-button hidden">Video</button>
    ${endif}
    ${if(nextSection)}
        <a href="${nextSection}.html" class="page-controls-nav">&#10095;</a>
    ${else}
        <a href="${nextSection}.html" class="page-controls-nav hidden">&#10095;</a>
    ${endif}
</div>