<div class="page-controls-mobile" ${if(typeChapter)}data-chapter="true"${endif}>
    ${if(prevSection)}
        <a href="${prevSection}.html" class="page-controls-nav">&#10094;</a>
    ${else}
        <a href="${prevSection}.html" class="page-controls-nav hidden">&#10094;</a>
    ${endif}

    ${if(typeSection)}
        <button onclick="toggleView(this)" value="text" class="page-controls-button page-controls-selected">
            ${svg/noun_File.svg()}
        </button>
    ${endif}
    ${if(video)}
        <button onclick="toggleView(this)" value="video" class="page-controls-button">
            ${svg/noun_Video.svg()}
        </button>
    ${endif}
    ${if(vidMetadata.sliderImgName)}
        <button onclick="toggleView(this)" value="image" class="page-controls-button">
            ${svg/noun_Image.svg()}
        </button>
    ${endif}
    ${if(summaryData)}
        <button onclick="toggleView(this)" value="summary" class="page-controls-button">
            ${svg/noun_Image.svg()}
        </button>
    ${endif}

    ${if(nextSection)}
        <a href="${nextSection}.html" class="page-controls-nav">&#10095;</a>
    ${else}
        <a href="${nextSection}.html" class="page-controls-nav hidden">&#10095;</a>
    ${endif}
</div>