<div class="subsection-modal-container" id="${it.id}" data-player="${it.playerId}">
    <button class="modal-exit-button-mobile" onclick="closeModalMobile(this)">&#10005;</button>
    ${if(it.video)}

        ${it:toggleImgVid.tmpl()}

        <div id="fullBackground-${it.playerId}" class="book-section-comparison-slider-fullscreen-container" data-state="initial">
            <div class="book-section-comparison-slider-container" data-player="${it.playerId}" data-modal="true">
                <img class="book-section-comparison-before" src="img/comparissons/2_1_before.jpg">
                <div class="book-section-comparison-after" data-modal="true"></div>
                <input class="book-section-comparison-range sr-only" type="range" value="50" max="100">
                <div class="book-section-comparison-slider">
                    <div class="book-section-comparison-button">
                        ${svg/noun_Triangle.svg()}
                        ${svg/noun_Triangle.svg()}
                    </div>
                </div>
                <button id="compExitFull-${it.playerId}" class="book-section-comparison-control-button book-section-comparison-exit-fullscreen" data-player="${it.playerId}">${svg/noun_X.svg()}</button>
            </div>
            <button id="compEnterFull-${it.playerId}" class="book-section-comparison-control-button book-section-comparison-go-fullscreen" data-player="${it.playerId}">${svg/noun_Fullscreen.svg()}</button>
        </div>

        ${it:player.tmpl()}
    ${elseif(it.graphic)}
        <img class="subsection-modal-img" src="img/schematics/${it.graphic}">
    ${endif}

    ${it:vid-citation.tmpl()}
    
    ${if(it.video)}
        ${if(offline)}
        ${else}
            ${it:quality-changer.tmpl()}
        ${endif}
    ${endif}
    <div class="subsection-modal-text" tabindex="-1">
        <h1>${it.title}</h1>
        <div class="book-text-content">
            ${it.html}
        </div>
    </div>
</div>