<div class="subsection-modal-container" id="${it.id}" data-player="${it.playerId}">
    <button class="modal-exit-button-mobile" onclick="closeModalMobile(this)">&#10005;</button>
    ${if(it.video)}

        ${if(it.sliderImgName)}
            ${it:toggleImgVid.tmpl()}
            ${it:slider.tmpl()}
        ${endif}

        ${it:player.tmpl()}
    ${elseif(it.graphic)}
        <div class="content-img">
            <div class="content-img__fullscreen-container">
                <div class="content-img__img-container ${if(it.species)}content-img__img-container--open-bottom${elseif(it.source)}content-img__img-container--open-bottom${endif}">
                    <img class="content-img__img" src="img/schematics/${it.graphic}">
                    <button class="content-img__btn content-img__enlarge-btn" disabled>${svg/noun_Fullscreen.svg()}</button>
                    <button class="content-img__btn content-img__minimize-btn content-img__btn--hidden" disabled>${svg/noun_X.svg()}</button>
                </div>
            </div>
        </div>
    ${endif}

    ${if(it.species)}
        ${it:vid-citation.tmpl()}
    ${elseif(it.sources)}
        ${it:vid-citation.tmpl()}
    ${elseif(it.viewerDemo)}
        ${it:vid-citation.tmpl()}
    ${endif}
    
    ${if(it.video)}
        ${if(offline)}
        ${else}
            ${it:quality-changer-mobile.tmpl()}
        ${endif}
    ${endif}

    ${if(it.viewerDemo)}
        ${it:viewer.tmpl()}
    ${endif}
    
    <div class="subsection-modal-text" tabindex="-1">
        <h1>${it.title}</h1>
        <div class="book-text-content">
            ${it.html}
        </div>
    </div>
</div>