<div class="subsection-modal-container" id="${it.id}">
    <button class="modal-exit-button-mobile" onclick="closeModalMobile(this)">&#10005;</button>
    ${if(it.video)}
        <video id=${it.playerId} ${if(it.doi)}doi="${it.doi}"${endif} controls data-file="${it.video}">
            ${if(offline)}
                <source src="videos/${it.video}">
            ${elseif(it.doi)}
            ${else}
                <source src="videos/${it.video}">
            ${endif}
            There was an error loading the video.
        </video>
    ${elseif(it.graphic)}
        <img src="img/schematics/${it.graphic}">
    ${endif}
    ${if(it.species)}
        <div class="video-citation">
            <a href="C-phylogenetic-tree.html"><i>${it.species}</i></a>
            <span>
                Collected by: 
                ${if(it.collectorProfile)}
                    <a href="B-scientist-profiles.html#${it.collectorId}">${it.collector}</a>
                ${else}
                    <span class="video-citation-value">${it.collector}</span>
                ${endif}
            </span>
            <span>DOI: <a href="https://doi.org/${it.doi}" target="_blank">${it.doi}</a></span>
        </div>
    ${elseif(it.source)}
        <div class="video-citation">
            <span>
                Source: 
                ${if(it.collectorProfile)}
                    <a href="B-scientist-profiles.html#${it.collectorId}">${it.source}</a>
                ${else}
                    <span class="video-citation-value">${it.source}</span>
                ${endif}
            </span>
            ${if(it.structure)}<span>Structure: <span class="video-citation-value">${it.structure}</span></span>${endif}
        </div>
    ${endif}
    ${if(it.video)}
        <div class="video-quality-changer" data-player="${it.playerId}">
            <input id="vidMed" type="radio" name="quality-${it.playerId}" value="480" onchange="changeQuality(this)">
            <label for="vidMed">480p</label>
            <input id="vidHigh" type="radio" name="quality-${it.playerId}" value="1080" onchange="changeQuality(this)">
            <label for="vidHigh">1080p</label>
        </div>
    ${endif}
    <div class="subsection-modal-text">
        <h1>${it.title}</h1>
        <div class="book-text-content">
            ${it.html}
        </div>
    </div>
</div>