<div class="narration-player narration-player--hidden">
    <button class="narration-player__playback-btn">
        <div class="narration-player__playback-btn-icon narration-player__playback-btn-play-icon">${svg/play.svg()}</div>
        <div class="narration-player__playback-btn-icon narration-player__playback-btn-icon--hidden narration-player__playback-btn-pause-icon">${svg/pause.svg()}</div>
    </button>
    <input class="narration-player__seekbar" type="range" value="0" min="0"/>
    <span class="narration-player__time-display"></span>
    <audio class="narration-player__audio-el">
        <source src="audio/1_1.mp3" type="audio/mpeg">
        Your browser doesn't support HTML5 audio.
    </audio>
</div>