<div
    id="${if(it.isSection)}narrationPlayer-main${else}narrationPlayer-${it.id}${endif}"
    class="narration-player narration-player--hidden"
    data-src="audio/1_1.mp3"
>
    <button class="narration-player__playback-btn" disabled>
        <div class="narration-player__playback-btn-icon ${if(it.isSection)}narration-player__playback-btn-icon--section-text${else}narration-player__playback-btn-icon--modal${endif} narration-player__playback-btn-play-icon">${svg/play.svg()}</div>
        <div class="narration-player__playback-btn-icon ${if(it.isSection)}narration-player__playback-btn-icon--section-text${else}narration-player__playback-btn-icon--modal${endif} narration-player__playback-btn-icon--hidden narration-player__playback-btn-pause-icon">${svg/pause.svg()}</div>
    </button>
    <input class="narration-player__seekbar ${if(it.isSection)}narration-player__seekbar--section-text${else}narration-player__seekbar--modal${endif}" type="range" value="0" min="0" disabled/>
    <span class="narration-player__time-display">0:00</span>
    <audio class="narration-player__audio-el">
        <source type="audio/mpeg">
        Your browser doesn't support HTML5 audio.
    </audio>
</div>