<nav class="nav" aria-label="Main Navigation">
    ${navData:search-widget.tmpl()}
    <ol class="nav__chapter-list">
        ${for(nav)}
            <li class="nav__entry">
                ${if(nav.isAppendix)}
                    <div>Appendix</div>
                ${else}
                    <div class="nav__chapter-header-container">
                        <a href="${nav.page}.html">${nav.chapter} ${nav.title}</a>
                        ${if(nav.sections)}
                            <button 
                                class="nav__section-list-toggle" 
                                aria-controls="navCh${nav.chapter}SectionList"
                                aria-expanded="false"
                                aria-label="Chapter ${nav.chapter} section links"
                            >
                                v
                            </button>
                        ${endif}
                    </div>
                    ${if(nav.sections)}
                        <ol id="navCh${nav.chapter}SectionList" class="nav__section-list nav__section-list--hidden">
                            ${for(nav.sections)}
                                <li>
                                    <a href="${nav.sections.page}.html">
                                        ${if(nav.chapter)}${nav.chapter}.${nav.sections.section}${endif} ${nav.sections.title}
                                    </a>
                                </li>
                            ${endfor}
                        </ol>
                    ${endif}
                ${endif}
            </li>
        ${endfor}
    </ol>
</nav>