<nav class="nav nav--collapsed" aria-label="Main Navigation">
    ${navData:search-widget.tmpl()}
    <ol class="nav__chapter-list">
        ${for(nav)}
            <li class="nav__entry">
                ${if(nav.isAppendix)}
                    <div>Appendix</div>
                ${else}
                    <div class="nav__chapter-header-container">
                        <a class="nav__link nav__link--ch${nav.chapter} nav__chapter-header-link" href="${nav.page}.html"><span class="nav__section-text">${nav.chapter}</span> ${nav.title}</a>
                        ${if(nav.sections)}
                            <button 
                                class="nav__section-list-toggle" 
                                aria-controls="navCh${nav.chapter}SectionList"
                                aria-expanded="false"
                                aria-label="Chapter ${nav.chapter} section links"
                            >
                                <span class="nav__section-list-toggle-icon">${svg/chevron.svg()}</span>
                            </button>
                        ${endif}
                    </div>
                    ${if(nav.sections)}
                        <ol id="navCh${nav.chapter}SectionList" class="nav__section-list nav__section-list--collapsed" style="height:0px">
                            ${for(nav.sections)}
                                <li>
                                    <a class="nav__link nav__link--ch${nav.chapter} nav__section-link" href="${nav.sections.page}.html">
                                        ${if(nav.chapter)}<span class="nav__section-text">${nav.chapter}.${nav.sections.section}</span>${endif} ${nav.sections.title}
                                    </a>
                                </li>
                            ${endfor}
                        </ol>
                    ${endif}
                ${endif}
            </li>
        ${endfor}
    </ol>
</nav>