<!DOCTYPE html>
<html lang="en">

    ${head.tmpl()}

    <body class="page preload">
        ${header.tmpl()}
        ${nav.tmpl()}

        <div class="page__content-container">
          ${if(typeChapter)}
            ${chapter.tmpl()}
          ${elseif(typeSection)}
            ${section.tmpl()}
          ${elseif(typeAppendix)}
            ${appendix/appendix.tmpl()}
          ${endif}
        </div>

        ${mobile-controls.tmpl()}
        ${footer.tmpl()}

        <script src="js/script.js"></script>
        <script src="js/NavWidget.js"></script>
        <script src="js/nav-controller.js"></script>
        <script src="js/lunr/lunr.min.js"></script>
        <script src="js/SearchWidget.js"></script>
        <script src="js/search.js"></script>
        <script src="js/MobileControls.js"></script>
        <script src="js/navShortcuts.js"></script>
        ${if(typeChapter)}
          <script src="js/ProgressBar.js"></script>
          <script src="js/Footer.js"></script>
          <script src="js/footer-controller.js"></script>
        ${elseif(typeSection)}
          <script src="js/VideoPlayer.js"></script>
          <script src="js/CompSlider.js"></script>
          <script src="js/MediaViewer.js"></script>
          <script src="js/NarrationPlayer.js"></script>
          <script src="js/SectionText.js"></script>
          <script src="js/Modal.js"></script>
          ${if(summaryData)} <script src="js/SummaryMenu.js"></script> ${endif}
          ${if(viewer)} 
              <script src="js/bio-pv/bio-pv.min.js"></script> 
              <script src="js/ProteinViewer.js"></script>
          ${endif}
          <script src="js/ProgressBar.js"></script>
          <script src="js/Footer.js"></script>
          <script src="js/footer-controller.js"></script>
          <script src="js/section-refactor.js"></script>
        ${elseif(typeAppendix)}
          <script src="js/AppendixAccordion.js"></script>
          <script src="js/TreeViewer.js"></script>
          <script src="js/MediaViewer.js"></script>
          <script src="js/Modal.js"></script>
          <script src="js/appendix-controller.js"></script>
        ${endif}

        <!-- Old script dependencies to be deleted soon -->
        <script src="js/section.js"></script>
    </body>

</html>