<!DOCTYPE html>
<html lang="en">

${head.tmpl()}

<body class="preload">
  <div class="book-page-container" ${if(offline)}data-offline="true"${endif}>
    ${header.tmpl()}
    
    <div class="book-page-content">

        ${nav.tmpl()}
        <div class="book-page-nonheader-container">
          ${if(typeChapter)}
              ${chapter.tmpl()}
          ${elseif(typeSection)}
              ${section.tmpl()}
          ${elseif(typeAppendix)}
              ${appendix.tmpl()}
          ${endif}
        </div>

        <div class="footer-container">
          ${progress.tmpl()}
          ${footer.tmpl()}
        </div>

    </div>

    ${mobile-controls.tmpl()}
  </div>

  <script src="js/script.js"></script>
  <script src="js/bio-pv/bio-pv.min.js"></script>
  <script src="js/modal.js"></script>
  <script src="js/nav.js"></script>
  <script src="js/section.js"></script>
  ${if(typeSection)}
      <script src="js/SectionText.js"></script>
      <script src="js/section-refactor.js"></script>
  ${endif}
  <script src="js/appendix.js"></script>
  <script src="js/mobile.js"></script>
  ${if(offline)}<script src="js/offline.js"></script>${endif}
</body>

</html>