<!DOCTYPE html>
<html lang="en">

${head.tmpl()}

<body class="preload">
  <div class="book-page-container" ${if(offline)}data-offline="true"${endif}>
    ${header.tmpl()}
    
    <div class="book-page-content">

        ${nav.tmpl()}
        <div class="book-page-nonheader-container">
          ${if(typeChapter)}
              ${chapter.tmpl()}
          ${elseif(typeSection)}
              ${section.tmpl()}
          ${elseif(typeAppendix)}
              ${appendix.tmpl()}
          ${endif}
        </div>

        ${footer.tmpl()}

    </div>

    ${mobile-controls.tmpl()}
  </div>

  <script src="js/script.js"></script>
  <script src="js/bio-pv/bio-pv.min.js"></script>
  <script src="js/nav.js"></script>
  <script src="js/section.js"></script>
  <script src="js/MobileControls.js"></script>
  ${if(summaryData)}
      <script src="js/SummaryMenu.js"></script>
  ${endif}
  <script src="js/lunr/lunr.min.js"></script>
  <script src="js/SearchWidget.js"></script>
  <script src="js/search.js"></script>
  ${if(typeSection)}
      <script src="js/MediaViewer.js"></script>
      <script src="js/SectionText.js"></script>
      <script src="js/ProteinViewer.js"></script>
      <script src="js/Modal.js"></script>
      <script src="js/VideoPlayer.js"></script>
      <script src="js/CompSlider.js"></script>
      <script src="js/NarrationPlayer.js"></script>
      <script src="js/ProgressBar.js"></script>
      <script src="js/Footer.js"></script>
      <script src="js/section-refactor.js"></script>
  ${endif}
  <script src="js/modal_old.js"></script>
  <script src="js/appendix.js"></script>
  <script src="js/mobile.js"></script>
  ${if(offline)}<script src="js/offline.js"></script>${endif}
</body>

</html>