<!DOCTYPE html>
<html lang="en">

    ${components/head.html()}

    <body class="page preload">
        ${components/header.html()}
        ${components/nav.html()}

        <div class="page__content-container">
          ${if(typeChapter)}
            ${chapter.html()}
          ${elseif(typeSection)}
            ${section.html()}
          ${elseif(typeAppendix)}
            ${appendix.html()}
          ${endif}
        </div>

        ${components/mobile-controls.html()}
        ${components/footer.html()}

        <script src="js/script.js"></script>
        <script src="js/NavWidget.js"></script>
        <script src="js/page-controller.js"></script>
        <script src="js/lunr/lunr.min.js"></script>
        ${if(offline)}${else} <script src="js/SearchWidget.js"></script> ${endif}
        ${if(offline)}${else} <script src="js/search.js"></script> ${endif}
        <script src="js/MobileControls.js"></script>
        <script src="js/navShortcuts.js"></script>
        ${if(typeChapter)}
          <script src="js/ProgressBar.js"></script>
          <script src="js/Footer.js"></script>
          <script src="js/footer-controller.js"></script>
        ${elseif(typeSection)}
          <script src="https://vjs.zencdn.net/7.17.0/video.min.js"></script>
          <script src="js/QualitySelector.js"></script>
          <script src="js/VideoPlayer.js"></script>
          <script src="js/CompSlider.js"></script>
          <script src="js/MediaViewer.js"></script>
          <script src="js/NarrationPlayer.js"></script>
          <script src="js/SectionText.js"></script>
          <script src="js/Modal.js"></script>
          <script src="js/Subsection.js"></script>
          <script src="js/SummaryMenu.js"></script>
          ${if(offline)}${else} <script src="js/bio-pv/bio-pv.min.js"></script> ${endif}
          ${if(offline)}${else} <script src="js/ProteinViewer.js"></script> ${endif}
          <script src="js/ProgressBar.js"></script>
          <script src="js/Footer.js"></script>
          <script src="js/footer-controller.js"></script>
          <script src="js/section-controller.js"></script>
        ${elseif(typeAppendix)}
          <script src="js/AppendixAccordion.js"></script>
          <script src="js/TreeViewer.js"></script>
          <script src="js/MediaViewer.js"></script>
          <script src="js/Modal.js"></script>
          <script src="js/appendix-controller.js"></script>
        ${endif}
    </body>

</html>