<div class="progress-bar progress-bar--shelved" data-percent="${progPercent}">
    <div class="progress-bar__progress-bar-container">
        <progress 
            class="progress-bar__progress-el" 
            value="${currentPageNum}" 
            max="${totalPages}" 
            aria-valuetext="Page ${currentPageNum} of ${totalPages}" 
            aria-valuenow="${currentPageNum}"
        ></progress>
        ${for(chapterPageNums)}
            <span class="progress-bar__chapter-indicator" style="left:${it.progPercent}%"></span>
        ${endfor}
    </div>
    <div class="progress-bar__label-container">
        <div 
            class="progress-bar__current-position-indicator" 
            style="left:${progPercent}%"
            aria-describedby="progress-tooltip"
            aria-label="Current progress indicator"
            tabindex="0"
        >
            ${svg/caret.svg()}
            <div 
                class="progress-bar__progress-pop-up progress-bar__progress-pop-up--hidden"
                id="progress-tooltip"
                role="tooltip"
            >
                <span>${displayPercent}%</span>
                <span>Page ${currentPageNum} of ${totalPages}</span>
            </div>
        </div>
    </div>
</div>