<div class="video-quality-changer" data-player="${it.playerId}">
    <label class="video-quality-changer-entry">
        <span class="video-quality-changer-input">
            <input id="vidMed" type="radio" name="quality-${it.playerId}" value="480" onchange="changeQuality(this)" data-player="${it.playerId}">
            <span class="video-quality-changer-control"></span>
        </span> 
        <span class="video-quality-changer-label">480p</span>
    </label>
    <label class="video-quality-changer-entry">
        <span class="video-quality-changer-input">
            <input id="vidHigh" type="radio" name="quality-${it.playerId}" value="1080" onchange="changeQuality(this)" data-player="${it.playerId}">
            <span class="video-quality-changer-control"></span>
        </span>
        <span class="video-quality-changer-label">1080p</span>
    </label>
</div>