<div class="video-quality-changer-mobile video-quality-changer-selector" data-player="${it.playerId}">
    <label class="video-quality-changer-entry">
        <span class="video-quality-changer-input">
            <input id="vidMed" type="radio" name="quality-${it.playerId}-mobile" value="480" data-player="${it.playerId}">
            <span class="video-quality-changer-control"></span>
        </span> 
        <span class="video-quality-changer-label">480p</span>
    </label>
    <label class="video-quality-changer-entry">
        <span class="video-quality-changer-input">
            <input id="vidHigh" type="radio" name="quality-${it.playerId}-mobile" value="1080" data-player="${it.playerId}">
            <span class="video-quality-changer-control"></span>
        </span>
        <span class="video-quality-changer-label">1080p</span>
    </label>
</div>