<html>
    <head>
        <title>${title}</title>
        <meta http-equiv="refresh" content="0;URL='https://www.cellstructureatlas.org/${pageName}.html'" />
    </head>
    <body>
        <p>The preview version of this page has been released on the main version at <a href="https://www.cellstructureatlas.org/${pageName}.html"> https://www.cellstructureatlas.org/${pageName}.html</a>.</p>
    </body>
</html>