<div class="search-widget">
    <button class="search-widget__open-btn" aria-controls="search-bar" aria-expanded="false">
        <div class="search-widget__search-icon">${svg/search.svg()}</div>
    </button>
    <div id="search-bar" class="search-widget__search-bar search-widget__search-bar--hidden">
        <div class="search-widget__search-icon search-widget__search-icon--search-bar">${svg/search.svg()}</div>
        <input class="search-widget__search-bar-input" type="search" placeholder="Search..." aria-label="Search...">
    </div>
</div>