<div id="modalOverlay" class="subsection-modal-overlay">
    ${for(subsectionsData)}
        ${it:modal.tmpl()}
    ${endfor}
</div>

<button tabindex="-1" id="unshelfButton" class="dark-background-text book-section-text-open-button" onclick="openText(this)">&#8249;&#8249; Text</button>

<div id="nonTextContent" class="book-section-non-text-content">
    <a href="${prevSection}.html" class="book-page-nav">&#8249;</a>
    <video controls>
        <source src="videos/${video}">
        Your browser does not support the video tag.
    </video>
    <a href="${nextSection}.html" class="book-page-nav">&#8250;</a>
</div>

<div id="textContent" class="dark-background-text book-section-text">
    <div class="book-section-text-margins book-section-title book-section-text-header">
        <button class="dark-background-text book-section-text-close-button" onclick="shelfText(this)">&#8250;&#8250; Text</button>
        <div class="book-section-text-divider"></div>
        <h1>${title}</h1>
    </div>
    <div class= "book-text-content book-section-text-margins book-section-text-material ${if(media)}book-section-summary-material${endif}">
        ${body}
    </div>
    ${if(videoTitle)}
        <div class="video-citation">
            <a href="C-phylogenetic-tree.html"><i>${videoTitle}</i></a>
            <span>
                Collected by: 
                ${if(collectorProfile)}
                    <a href="B-scientist-profiles.html#${collectorId}">${collector}</a>
                ${else}
                    <span class="video-citation-value">${collector}</span>
                ${endif}
            </span>
            <span>DOI: <a href="https://doi.org/${doi}" target="_blank">${doi}</a></span>
        </div>
    ${endif}
    ${if(subsectionsData)}
        <div class="book-section-learn-more">
            <h1 class="book-section-text-header">Learn More:</h1>
            <div class="book-section-learn-more-buttons">
                ${for(subsectionsData)}
                    <button type="button" value="${it.id}" onclick="showModal(this)" class="main-color-background">${it.title}</button>
                ${endfor}
            </div>
        </div>
    ${endif}
</div>