<div class="section-text section-text--shelveable">
    <button class="section-text__unshelve-btn section-text__unshelve-btn--shelved section-text__unshelve-btn--hidden" tabindex="-1">&#8249;&#8249; Text</button>
    <div class="section-text__main-container ${if(subsectionsData)}${else}section-text__main-container--no-learn-more${endif}">
        <div class="section-text__text-container">
            <div class="section-text__header-container">
                <button class="section-text__shelve-btn">&#8250;&#8250; Text</button>
                <div class="section-text__header-divider"></div>
                <h1 class="section-text__title">${title}</h1>
            </div>
            <div class="section-text__content" tabindex="0">
                ${body}
            </div>
        </div>
        ${if(videoTitle)}
            ${vidMetadata:vid-citation.tmpl()}
        ${endif}
        ${if(subsectionsData)}
            <div class="learn-more learn-more--in-section">
                <h1 class="learn-more__title">Learn More:</h1>
                <div class="learn-more__btn-container">
                    ${for(subsectionsData)}
                        <button class="learn-more__btn" value="${it.id}" onclick="showModal(this)">${it.title}</button>
                    ${endfor}
                </div>
            </div>
        ${endif}
    </div>
</div>