<div class="main-non-text-container main-non-text-container--hidden-mobile">
    <a href="${prevSection}.html" class="main-non-text-container__nav-arrow" data-nav="prev">${svg/left-nav.svg()}</a>
    ${if(summaryData)}
        ${summaryData:summary.tmpl()}
    ${else}
        ${vidMetadata:media-viewer.tmpl()}
    ${endif}
    <a href="${nextSection}.html" class="main-non-text-container__nav-arrow" data-nav="next">${svg/right-nav.svg()}</a>
</div>

${section-text.tmpl()}

<div class="modal-overlay modal-overlay--hidden">
    ${for(subsectionsData)}
        ${it:modal.tmpl()}
    ${endfor}
</div>