<div id="modalOverlay" class="subsection-modal-overlay">
    ${for(subsectionsData)}
        ${it:modal.tmpl()}
    ${endfor}
</div>

<div id="nonTextContent" class="book-section-non-text-content book-section-non-text-content--hidden-mobile">
    <a href="${prevSection}.html" class="book-page-nav" data-nav="prev">&#8249;</a>
        ${if(summaryData)}
            ${summaryData:summary.tmpl()}
        ${else}
            ${vidMetadata:media-viewer.tmpl()}
        ${endif}
    <a href="${nextSection}.html" class="book-page-nav" data-nav="next">&#8250;</a>
</div>

${section-text.tmpl()}