<div id="fullBackground-${it.playerId}" class="book-section-comparison-slider-fullscreen-container" data-state="initial">
    <div class="book-section-comparison-slider-container" data-player="${it.playerId}" ${if(it.html)}data-modal="true"${endif}>
        <img class="book-section-comparison-before" src="img/comparissons/2_1_before.jpg">
        <div class="book-section-comparison-after"></div>
        <input class="book-section-comparison-range sr-only" type="range" value="50" max="100">
        <div class="book-section-comparison-slider">
            <div class="book-section-comparison-button">
                ${svg/noun_Triangle.svg()}
                ${svg/noun_Triangle.svg()}
            </div>
        </div>
        <button id="compExitFull-${it.playerId}" class="book-section-comparison-control-button book-section-comparison-exit-fullscreen" data-player="${it.playerId}">${svg/noun_X.svg()}</button>
    </div>
    <button id="compEnterFull-${it.playerId}" class="book-section-comparison-control-button book-section-comparison-go-fullscreen" data-player="${it.playerId}">${svg/noun_Fullscreen.svg()}</button>
</div>