<div class="summary-menu summary-menu--nontext-section">
    <div class="summary-menu__widget">
        <div class="summary-menu__container">
            <ol class="summary-menu__items-list">
                ${if(it.chapter1)}
                    <li class="summary-menu__li summary-menu__li--ch1-item1" tabindex="0">
                            ${svg/summary/chapter1/1_1.svg()}
                            ${svg/summary/chapter1/1_1_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch1-item2" tabindex="0">
                        ${svg/summary/chapter1/1_2.svg()}
                        ${svg/summary/chapter1/1_2_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch1-item3" tabindex="0">
                        ${svg/summary/chapter1/1_3.svg()}
                        ${svg/summary/chapter1/1_3_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch1-item4" tabindex="0">
                        ${svg/summary/chapter1/1_4.svg()}
                        ${svg/summary/chapter1/1_4_text.svg()}
                    </li>
                ${elseif(it.chapter2)}
                    <li class="summary-menu__li summary-menu__li--ch2-item1" tabindex="0">
                        ${svg/summary/chapter2/2_1.svg()}
                        ${svg/summary/chapter2/2_1_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch2-item2" tabindex="0">
                        ${svg/summary/chapter2/2_2.svg()}
                        ${svg/summary/chapter2/2_2_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch2-item3" tabindex="0">
                        ${svg/summary/chapter2/2_3.svg()}
                        ${svg/summary/chapter2/2_3_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch2-item4" tabindex="0">
                        ${svg/summary/chapter2/2_4.svg()}
                        ${svg/summary/chapter2/2_4_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch2-item5" tabindex="0">
                        ${svg/summary/chapter2/2_5.svg()}
                        ${svg/summary/chapter2/2_5_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch2-item6" tabindex="0">
                        ${svg/summary/chapter2/2_6.svg()}
                        ${svg/summary/chapter2/2_6_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch2-item7" tabindex="0">
                        ${svg/summary/chapter2/2_7.svg()}
                        ${svg/summary/chapter2/2_7_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch2-item8" tabindex="0">
                        ${svg/summary/chapter2/2_8.svg()}
                        ${svg/summary/chapter2/2_8_text.svg()}
                    </li>
                ${elseif(it.chapter3)}
                    <li class="summary-menu__li summary-menu__li--ch3-item1" tabindex="0">
                        ${svg/summary/chapter3/3_1.svg()}
                        ${svg/summary/chapter3/3_1_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch3-item2" tabindex="0">
                        ${svg/summary/chapter3/3_2.svg()}
                        ${svg/summary/chapter3/3_2_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch3-item3" tabindex="0">
                        ${svg/summary/chapter3/3_3.svg()}
                        ${svg/summary/chapter3/3_3_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch3-item4" tabindex="0">
                        ${svg/summary/chapter3/3_4.svg()}
                        ${svg/summary/chapter3/3_4_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch3-item5" tabindex="0">
                        ${svg/summary/chapter3/3_5.svg()}
                        ${svg/summary/chapter3/3_5_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch3-item6" tabindex="0">
                        ${svg/summary/chapter3/3_6.svg()}
                        ${svg/summary/chapter3/3_6_text.svg()}
                    </li>
                ${elseif(it.chapter4)}
                    <li class="summary-menu__li summary-menu__li--ch4-item1" tabindex="0">
                        ${svg/summary/chapter4/4_1.svg()}
                        ${svg/summary/chapter4/4_1_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch4-item2" tabindex="0">
                        ${svg/summary/chapter4/4_2.svg()}
                        ${svg/summary/chapter4/4_2_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch4-item3" tabindex="0">
                        ${svg/summary/chapter4/4_3.svg()}
                        ${svg/summary/chapter4/4_3_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch4-item4" tabindex="0">
                        ${svg/summary/chapter4/4_4.svg()}
                        ${svg/summary/chapter4/4_4_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch4-item5" tabindex="0">
                        ${svg/summary/chapter4/4_5.svg()}
                        ${svg/summary/chapter4/4_5_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch4-item6" tabindex="0">
                        ${svg/summary/chapter4/4_6.svg()}
                        ${svg/summary/chapter4/4_6_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch4-item7" tabindex="0">
                        ${svg/summary/chapter4/4_7.svg()}
                        ${svg/summary/chapter4/4_7_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch4-item8" tabindex="0">
                        ${svg/summary/chapter4/4_8.svg()}
                        ${svg/summary/chapter4/4_8_text.svg()}
                    </li>
                ${elseif(it.chapter5)}
                    <li class="summary-menu__li summary-menu__li--ch5-item1" tabindex="0">
                        ${svg/summary/chapter5/5_1.svg()}
                        ${svg/summary/chapter5/5_1_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch5-item2" tabindex="0">
                        ${svg/summary/chapter5/5_2.svg()}
                        ${svg/summary/chapter5/5_2_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch5-item3" tabindex="0">
                        ${svg/summary/chapter5/5_3.svg()}
                        ${svg/summary/chapter5/5_3_text.svg()}
                    </li>
                ${elseif(it.chapter6)}
                    <li class="summary-menu__li summary-menu__li--ch6-item1" tabindex="0">
                        ${svg/summary/chapter6/6_1.svg()}
                        ${svg/summary/chapter6/6_1_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch6-item2" tabindex="0">
                        ${svg/summary/chapter6/6_2.svg()}
                        ${svg/summary/chapter6/6_2_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch6-item3" tabindex="0">
                        ${svg/summary/chapter6/6_3.svg()}
                        ${svg/summary/chapter6/6_3_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch6-item4" tabindex="0">
                        ${svg/summary/chapter6/6_4.svg()}
                        ${svg/summary/chapter6/6_4_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch6-item5" tabindex="0">
                        ${svg/summary/chapter6/6_5.svg()}
                        ${svg/summary/chapter6/6_5_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch6-item6" tabindex="0">
                        ${svg/summary/chapter6/6_6.svg()}
                        ${svg/summary/chapter6/6_6_text.svg()}
                    </li>
                ${elseif(it.chapter7)}
                    <li class="summary-menu__li summary-menu__li--ch7-item1" tabindex="0">
                        ${svg/summary/chapter7/7_1.svg()}
                        ${svg/summary/chapter7/7_1_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch7-item2" tabindex="0">
                        ${svg/summary/chapter7/7_2.svg()}
                        ${svg/summary/chapter7/7_2_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch7-item3" tabindex="0">
                        ${svg/summary/chapter7/7_3.svg()}
                        ${svg/summary/chapter7/7_3_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch7-item4" tabindex="0">
                        ${svg/summary/chapter7/7_4.svg()}
                        ${svg/summary/chapter7/7_4_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch7-item5" tabindex="0">
                        ${svg/summary/chapter7/7_5.svg()}
                        ${svg/summary/chapter7/7_5_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch7-item6" tabindex="0">
                        ${svg/summary/chapter7/7_6.svg()}
                        ${svg/summary/chapter7/7_6_text.svg()}
                    </li>
                ${elseif(it.chapter8)}
                    <li class="summary-menu__li summary-menu__li--ch8-item1" tabindex="0">
                        ${svg/summary/chapter8/8_1.svg()}
                        ${svg/summary/chapter8/8_1_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch8-item2" tabindex="0">
                        ${svg/summary/chapter8/8_2.svg()}
                        ${svg/summary/chapter8/8_2_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch8-item3" tabindex="0">
                        ${svg/summary/chapter8/8_3.svg()}
                        ${svg/summary/chapter8/8_3_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch8-item4" tabindex="0">
                        ${svg/summary/chapter8/8_4.svg()}
                        ${svg/summary/chapter8/8_4_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch8-item5" tabindex="0">
                        ${svg/summary/chapter8/8_5.svg()}
                        ${svg/summary/chapter8/8_5_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch8-item6" tabindex="0">
                        ${svg/summary/chapter8/8_6.svg()}
                        ${svg/summary/chapter8/8_6_text.svg()}
                    </li>
                ${elseif(it.chapter9)}
                    <li class="summary-menu__li summary-menu__li--ch9-item1" tabindex="0">
                        ${svg/summary/chapter9/9_1.svg()}
                        ${svg/summary/chapter9/9_1_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch9-item2" tabindex="0">
                        ${svg/summary/chapter9/9_2.svg()}
                        ${svg/summary/chapter9/9_2_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch9-item3" tabindex="0">
                        ${svg/summary/chapter9/9_3.svg()}
                        ${svg/summary/chapter9/9_3_text.svg()}
                    </li>
                ${elseif(it.chapter10)}
                    <li class="summary-menu__li summary-menu__li--ch10-item1" tabindex="0">
                        ${svg/summary/chapter10/10_1.svg()}
                        ${svg/summary/chapter10/10_1_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch10-item2" tabindex="0">
                        ${svg/summary/chapter10/10_2.svg()}
                        ${svg/summary/chapter10/10_2_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch10-item3" tabindex="0">
                        ${svg/summary/chapter10/10_3.svg()}
                        ${svg/summary/chapter10/10_3_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch10-item4" tabindex="0">
                        ${svg/summary/chapter10/10_4.svg()}
                        ${svg/summary/chapter10/10_4_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch10-item5" tabindex="0">
                        ${svg/summary/chapter10/10_5.svg()}
                        ${svg/summary/chapter10/10_5_text.svg()}
                    </li>
                    <li class="summary-menu__li summary-menu__li--ch10-item6" tabindex="0">
                        ${svg/summary/chapter10/10_6.svg()}
                        ${svg/summary/chapter10/10_6_text.svg()}
                    </li>
                ${endif}
            </ol>
        </div>
        <button class="summary-menu__btn summary-menu__enlarge-btn">${svg/noun_Fullscreen.svg()}</button>
        <button class="summary-menu__btn summary-menu__min-btn summary-menu__btn--hidden">${svg/noun_X.svg()}</button>
    </div>
</div>