<div class="book-section-comparison-button-container ${if(summaryData)}book-section-comparison-button-container--summary${endif}">
    <button onclick="toggleImageSlider(this)" data-player="${it.playerId}" data-state="selected" value="video">${svg/noun_Video.svg()}</button>
    <button onclick="toggleImageSlider(this)" data-player="${it.playerId}" data-state="" value="image">${svg/noun_Image.svg()}</button>
</div>