<div class="tree-viewer">

    ${for(speciesList)}
        <div class="book-appendix-tree-section-list" id="${speciesList.id}" data-species="${speciesList.id}">
            <h2 class="book-appendix-tree-section-title">${speciesList.species}</h2>
            <div class="book-appendix-tree-section-content">
                <h3 class="book-appendix-tree-section-subheader">Examples:</h3>
                <ol class="book-appendix-tree-section-example-list">
                    ${for(speciesList.speciesObjs)}
                        <li><a href="${speciesList.speciesObjs.page}">${if(speciesList.speciesObjs.chapter)}${speciesList.speciesObjs.chapter}.${endif}${speciesList.speciesObjs.section} ${speciesList.speciesObjs.title}</a></li>
                    ${endfor}
                </ol>
            </div>
        </div>
    ${endfor}

    <div class="tree-viewer__fullscreen-container">
        <div class="tree-viewer__viewer-container">
            <button class="tree-viewer__btn tree-viewer__btn--visible tree-viewer__enlarge-btn">${svg/noun_Fullscreen.svg()}</button>
            <button class="tree-viewer__btn tree-viewer__min-btn">${svg/noun_X.svg()}</button>
            <div class="tree-viewer__zoom-controls">
                <button class="tree-viewer__zoom-controls-btn tree-viewer__zoom-in-btn">${svg/noun_Plus.svg()}</button>
                <div class="tree-viewer__zoom-controls-divider"></div>
                <button class="tree-viewer__zoom-controls-btn tree-viewer__zoom-out-btn">${svg/noun_Minus.svg()}</button>
            </div>
            ${svg/modifiedTree.svg()}
        </div>
    </div>
</div>