<div class="book-appendix-tree-viewer-fullbackground" data-state="initial">
    ${for(speciesList)}
        <div class="book-appendix-tree-section-list" data-species="${speciesList.id}">
            <h2 class="book-appendix-tree-section-title">${speciesList.species}</h2>
            <div class="book-appendix-tree-section-content">
                <h3 class="book-appendix-tree-section-subheader">Examples:</h3>
                <ol class="book-appendix-tree-section-example-list">
                    ${for(speciesList.speciesObjs)}
                        <li><a href="${speciesList.speciesObjs.page}">${if(speciesList.speciesObjs.chapter)}${speciesList.speciesObjs.chapter}.${endif}${speciesList.speciesObjs.section} ${speciesList.speciesObjs.title}</a></li>
                    ${endfor}
                </ol>
            </div>
        </div>
    ${endfor}
    <div class="book-appendix-tree-viewer">
        <button id="treeFullScreen" class="book-appendix-tree-viewer-fullscreen-button">${svg/noun_Fullscreen.svg()}</button>
        <button id="treeMinimize" class="book-appendix-tree-viewer-fullscreen-button">${svg/noun_X.svg()}</button>
        <div class="book-appendix-tree-viewer-controls">
            <button class="book-appendix-tree-viewer-zoom-in" id="treeZoomIn">${svg/noun_Plus.svg()}</button>
            <div class="book-appendix-tree-viewer-controls-divider"></div>
            <button class="book-appendix-tree-viewer-zoom-out" id="treeZoomOut">${svg/noun_Minus.svg()}</button>
        </div>
        ${svg/modifiedTree.svg()}
    </div>
</div>