<div class="tree-viewer-fs-confirm">
    <p class="tree-viewer-fs-confirm__prompt">Allow Tree to display fullscreen?</p>
    <div class="tree-viewer-fs-confirm__btn-container">
        <button class="tree-viewer-fs-confirm__btn tree-viewer-fs-confirm__btn-cancel">Cancel</button>
        <button class="tree-viewer-fs-confirm__btn tree-viewer-fs-confirm__btn-ok">OK</button>
    </div>
</div>