<div id="viewer-${it.playerId}" class="viewer-app" data-pdb=${it.pdb} data-viewer="${it.viewerType}">
    <div class="pv-menu">
        <h1>Choose Style</h1>
        <ul>
            <li id="cartoon">Cartoon</li>
            <li id="tube">Tube</li>
            <li id="lines">Lines</li>
            <li id="lineTrace">Line Trace</li>
            <li id="sline">Smooth Line Trace</li>
            <li id="trace">Trace</li>
            <li id="spheres">Spheres</li>
            <li id="ballsAndSticks">Balls and Sticks</li>
        </ul>
        <h1>Choose Color</h1>
        <ul>
            <li id="uniform">Uniform</li>
            <li id="chain">Chain</li>
            <li id="ssSuccession">Secondary Structure Succession</li>
            <li id="ss">Secondary Structure Type</li>
            <li id="rainbow">Rainbow</li>
        </ul>
    </div>
</div>