<div class="protein-viewer" id="viewer${it.viewer.pdb}">
    <div class="protein-viewer__menu">
        <label class="protein-viewer__label">
            Model:
            <select>
                <option value="cartoon" selected>Secondary Structure</option>
                <option value="spheres">Volume Filling</option>
                <option value="tube">Backbone</option>
                <option value="ballsAndSticks">Ball and Stick</option>
            </select>
        <label>
        <label class="protein-viewer__label">
            Color:
            <select>
                <option value="chain" selected>Individual Proteins</option>
                <option value="ss">Seconday Structure</option>
                <option value="tempFactor">Depth</option>
            </select>
        <label>
    </div>
</div>