<div id="viewer-${it.playerId}" class="viewer-app" data-pdb=${it.pdb} data-viewer="${it.viewerType}">
    <div class="pv-menu">
        <h1>Choose Style</h1>
        <ul>
            <li id="lines">Lines</li>
            <li id="points">Points</li>
            <li id="spheres">Spheres</li>
            <li id="lineTrace">Line Trace</li>
            <li id="sline">Smooth Line Trace</li>
            <li id="trace">Trace</li>
            <li id="tube">Tube</li>
            <li id="cartoon">Cartoon</li>
            <li id="ballsAndSticks">Balls and Sticks</li>
        </ul>
        <h1>Choose Color</h1>
        <ul>
            <li id="uniform">Uniform</li>
            <li id="chain">Chain</li>
            <li id="ssSuccession">Secondary Structure Succession</li>
            <li id="ss">Secondary Structure Type</li>
            <li id="rainbow">Rainbow</li>
        </ul>
        <h2>Colors by Atom Property</h2>
        <ul>
            <li id="bondCount">Bond Count</li>
            <li id="index">Index</li>
            <li id="isHetatm">Is Hetatm</li>
            <li id="occupancy">Occupancy</li>
            <li id="tempFactor">Temp Factor</li>
        </ul>
        <h2>Colors by Residue Property</h2>
        <ul>
            <li id="r-index">Index</li>
            <li id="isAminoacid">Is Amino acid</li>
            <li id="isNucleotide">Is Nucleotide</li>
            <li id="isWater">Is Water</li>
            <li id="num">Num</li>
        </ul>
    </div>
</div>
<script src="js/bio-pv/bio-pv.min.js"></script>
<script src="js/viewers.js"></script>