<head>
    ${if(offline)}${else}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-LHYBMHF2E8"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-LHYBMHF2E8');
        </script>
    ${endif}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 viewport-fit=cover">
    <meta name="description" content="${description}">
    <meta name="author" content="Catherine M. Oikonomou and Grant J. Jensen">

    ${if(typeChapter)}
        <title>${chapter} ${title} | Atlas of Bacterial and Archaeal Cell Structure</title>
    ${elseif(typeSection)}
        <title>${if(chapter)}${chapter}${endif}${if(section)}.${section}${endif} ${title} | Atlas of Bacterial and Archaeal Cell Structure</title>
    ${elseif(typeAppendix)}
        <title>${title} | Atlas of Bacterial and Archaeal Cell Structure</title>
    ${else}
        <title>${title}</title>
    ${endif}

    <link rel="icon" type="image/png" href="img/favicon.png">
    <link href="https://vjs.zencdn.net/7.17.0/video-js.css" rel="stylesheet"/>
    <link href="styles/style.css" rel="stylesheet">

</head>