<header class="header page__header">
    <button class="header__nav-btn" aria-label="Open navigation">
        <span class="header__nav-icon">${svg/hamburger.svg()}</span>
    </button>
    ${if(offline)}${else} 
        <div class="header__search-container">
            <button class="header__open-search-btn" aria-label="Open search" aria-controls="header-search-widget" aria-expanded="false">
                <div class="header__open-search-btn-icon">${svg/search.svg()}</div>
            </button>
            ${components/search-widget.html()} 
        </div>
    ${endif}
    <span class="header__title">${chapter}${if(section)}.${section}${endif} ${title}</span>
    <a class="header__home-link" href="index.html">
        <img class="header__logo header__mobile-logo" alt="Atlas of Bacterial and Archaeal Cell Structure home" src="img/MinimalLogoAInverted.png">
        <img class="header__logo header__desktop-logo" alt="Atlas of Bacterial and Archaeal Cell Structure home" src="img/AtlasLogoInvertedLong.svg">
    </a>
</header>