<div class="mobile-controls page__mobile-controls ${if(typeChapter)}${else}page__mobile-controls--relative-landscape${endif}">
    ${if(prevSection)}
        <a class="mobile-controls__nav mobile-controls__nav--prev" href="${prevSection}.html" aria-label="Previous section">${svg/left-nav.svg()}</a>
    ${endif}

    ${if(typeSection)}
        <button class="mobile-controls__btn mobile-controls__btn--selected" value="text" aria-label="Show text">
            ${svg/noun_File.svg()}
        </button>
    ${endif}
    ${if(mediaViewer.vidPlayer)}
        <button class="mobile-controls__btn" value="vid" aria-label="Show video">
            ${svg/noun_Video.svg()}
        </button>
    ${endif}
    ${if(mediaViewer.compSlider)}
        <button class="mobile-controls__btn" value="img" aria-label="Show comparison slider">
            ${svg/noun_Image.svg()}
        </button>
    ${endif}
    ${if(mediaViewer.summaryMenu)}
        <button class="mobile-controls__btn" value="sum" aria-label="Show summary menu">
            ${svg/noun_Cycle.svg()}
        </button>
    ${endif}

    ${if(nextSection)}
        <a class="mobile-controls__nav mobile-controls__nav--next" href="${nextSection}.html" aria-label="Next section">${svg/right-nav.svg()}</a>
    ${endif}
</div>