<div id="${it.id}" class="modal modal--hidden ${if(it.template.treeViewerFsConfirm)}modal--no-exit-btn${endif} ${if(it.template.feedback)}modal--iframe${endif}" role="dialog" ${if(it.title)}aria-labelledby="${it.title}-header"${else}aria-label="${it.label}"${endif} aria-modal="true">
    <div class="modal__modal-container">
        <button class="modal__exit-btn" aria-label="Close">
            <div class="modal__exit-btn-icon">${svg/x.svg()}</div>
        </button>

        ${if(it.template.feedback)}
            ${components/feedback.html()}
        ${elseif(it.template.treeViewerFsConfirm)}
            ${components/tree-viewer-fs-confirm.html()}
        ${elseif(it.template.subsection)}
            ${components/subsection.html()}
        ${endif}
        
    </div>
</div>