<nav class="nav page__nav page__nav--collapsed" aria-label="Main Navigation">
    ${if(offline)}${else} ${navData:components/search-widget.html()} ${endif}
    <ol class="nav__chapter-list">
        ${for(nav)}
            <li class="nav__entry">
                ${if(nav.isAppendix)}
                    <div class="nav__appendix-entry">Appendix</div>
                ${else}
                    <div class="nav__chapter-header-container">
                        <a class="nav__link ${if(nav.chapter)}nav__link--ch${nav.chapter}${endif} nav__chapter-header-link ${if(nav.sections)}nav__has-section-list${endif}" href="${nav.page}.html">
                            ${if(nav.chapter)}<span class="nav__section-text">${nav.chapter} </span>${endif}${nav.title}
                        </a>
                        ${if(nav.sections)}
                            <button 
                                class="nav__section-list-toggle" 
                                aria-controls="navCh${nav.chapter}SectionList"
                                aria-expanded="false"
                                aria-label="Chapter ${nav.chapter} section links"
                            >
                                <span class="nav__section-list-toggle-icon">${svg/chevron.svg()}</span>
                            </button>
                        ${endif}
                    </div>
                    ${if(nav.sections)}
                        <ol id="navCh${nav.chapter}SectionList" class="nav__section-list nav__section-list--collapsed" style="height:0px">
                            ${for(nav.sections)}
                                <li>
                                    <a class="nav__link nav__link--ch${nav.chapter}" href="${nav.sections.page}.html">
                                        ${if(nav.chapter)}<span class="nav__section-text">${nav.chapter}.${nav.sections.section} </span>${endif}${nav.sections.title}
                                    </a>
                                </li>
                            ${endfor}
                        </ol>
                    ${endif}
                ${endif}
            </li>
        ${endfor}
        
        ${if(offline)}${else}
            <div class="nav__hr-break"></div>
            <li class="nav__entry nav__footer-entry">
                <a class="nav__link" href="about.html">About This Book</a>
            </li>
            <li class="nav__entry nav__footer-entry">
                <a class="nav__link" href="https://www.library.caltech.edu/" target="_blank" rel="noopener">© 2022 Caltech Library</a>
            </li>
            <li class="nav__entry nav__offline-entry">
                <a class="nav__link" href="download.html">Offline Version</a>
            </li>
        ${endif}
    </ol>
</nav>