<div class="search-widget ${if(it.nav)}nav__search-widget${else}header__search-widget${endif}">
    <div class="search-widget__search-bar ${if(it.nav)}nav__search-bar${else}header__search-bar${endif}">
        <div class="search-widget__search-icon ${if(it.nav)}nav__search-icon${else}header__search-icon${endif}">${svg/search.svg()}</div>
        <input class="search-widget__search-bar-input ${if(it.nav)}nav__search-bar-input${else}header__search-bar-input${endif}" type="search" placeholder="Search..." aria-label="Search...">
        <button class="search-widget__exit-btn search-widget__exit-btn--hidden ${if(it.nav)}nav__exit-btn${else}header__exit-btn${endif}" aria-label="Exit Search">
            <div class="search-widget__exit-btn-icon">${svg/x.svg()}</div>
        </button>
    </div>
    <ol class="search-widget__result-list search-widget__result-list--hidden ${if(it.nav)}nav__result-list${else}header__result-list header__result-list--hidden${endif}"></ol>
</div>