<div class="tree-viewer media-viewer__media-component appendix__tree-viewer">
    <div class="tree-viewer__svg-container">
        ${svg/phylogenetic-tree.svg()}
    </div>
    ${for(speciesList)}
        <div class="tree-viewer__pop-up tree-viewer__pop-up--hidden" id="${speciesList.id}">
            <h2 class="tree-viewer__pop-up-title">${speciesList.species}</h2>
            <div class="tree-viewer__pop-up-body">
                <h3 class="tree-viewer__pop-up-body-header">Examples:</h3>
                <ol class="tree-viewer__pup-up-list">
                    ${for(speciesList.speciesRefs)}
                        <li class="tree-viewer__pup-up-entry">
                            <a class="tree-viewer__pup-up-link" href="${it.page}">${if(it.chapter)}${it.chapter}.${endif}${it.section} ${it.title}</a>
                        </li>
                    ${endfor}
                </ol>
            </div>
        </div>
    ${endfor}
    <div class="tree-viewer__zoom-controls">
        <button class="tree-viewer__zoom-btn tree-viewer__zoom-btn-in" aria-label="Zoom in">
            ${svg/plus.svg()}
        </button>
        <button class="tree-viewer__zoom-btn tree-viewer__zoom-btn-out" aria-label="Zoom out">
            ${svg/minus.svg()}
        </button>
    </div>
</div>