<video
        id="videoPlayer-${it.id}"
        class="
            video-js 
            video-player 
            media-viewer__media-component 
            ${if(it.isSection)}video-player--main-section${else}subsection__video-player${endif}
        "
        poster="img/thumbnails/${it.thumbnail}.jpg"
        width="1920px" 
        height="1080px"
        preload="metadata" 
        muted
        data-doi="${it.doi}" 
        data-vid-name="${it.vidName}" 
        data-media-type="vid"
        ${if(it.isSection)}
            data-main="true"
        ${endif}
        ${if(offline)}
            data-offline="true" 
            data-src="${it.vidName}${if(offline.lite)}_480p${endif}.mp4"
        ${endif}
>
    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
</video>