@media(max-width: 899px) {

/* || GENERAL styles */
body {
    margin: 0;
    font-family: sans-serif;
    background: #717171;
}

h1, h2, button {
    font-size: 100%;
}

h1, h2, h3 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

ol, ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

blockquote {
    margin-inline-end: 0;
    margin-inline-start: 0;
}

/* || SITE wide */
.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

}