/* Index (search "|| <style>" to find associated styles) */
/* || MOBILE - Styles that remove components not used in mobile */
/* || GENERAL - Definitions for base behavior of HTML elements */ 
/* || SITE - Classes that are used on almost all pages throughout site */
/* || LANDING - Index landing page */
/* || NAV - Styles for the top nav bar */
/* || PAGE - Classes that define layout for the containers of the book pages and the nav bar */
/* || HEADER - Header for all pages besides landing page */
/* || PAGE - Classes that define layout for the containers of the book pages and the nav bar */
/* || CHAPTER - Chapter landing pages */
/* || SECTION -  Styles for every page of the book that is a section */
/* || QUALITY - Styles for the quality changer */
/* || SLIDER - Styles for the image comparison slider element */
/* || MODAL - "Learn more" modals (also used in about project page) */
/* || CONTROLS - Styles that apply to the view/nav controls at the bottom of mobile screens */
/* || APPENDIX - Appendix pages at end of book */
/* || PROFILES - Classes specific to profiles appendix page */
/* || REFERENCES - Classes specific to references appendix page */

@media(max-width: 899px) {

/* || GENERAL styles */
body {
    margin: 0;
    font-family: sans-serif;
    background: #717171;
}

h1, h2, button {
    font-size: 100%;
}

h1, h2, h3 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

ol, ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

blockquote {
    margin-inline-end: 0;
    margin-inline-start: 0;
}

/* || SITE wide */
.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

/* Recommended styling for screen readers by webaim.org */
.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.main-color-background {
    background-color: #15404e;
}

.hidden {
    visibility: hidden;
}

.dark-background-text {
    background-color: #363636;
    color: #f5f5f5;
}

.dark-background-text a {
    color: #5caac5;
    text-decoration: underline;
}

.book-text-content, .csl-entry {
    line-height: 1.34em;
}

#nonTextContent, .footer-container, .book-page-nav, .header-logo, .book-section-text-close-button, 
.book-section-text-divider, .book-section-text-open-button, .header-nav-button-desk,
.nav-menu-footer, .landing-page-download-button, .book-section-video-player-scrub-canvas,
.book-section-video-player-paint-canvas, .book-section-video-player-controls,
.book-section-comparison-button-container, .video-quality-player-control,
.book-section-comparison-exit-fullscreen-desktop, #customBookProgress {
    display: none;
}

@media(min-width:320px) {
    /* || GENERAL styles */
    html {
        -webkit-text-size-adjust: none;
    }

    /* || LANDING styles*/
    .landing-page-container {
        position: fixed;
        height: 100%;
        padding: 20px 0;
        background-color: rgb(0 0 0 / 0.6);
        background-image: url(../img/backgroundImage.jpg);
        background-blend-mode: color;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .landing-page-background-overlay {
        height: 100%;
        background-color: rgba(0,0,0,0.6);
        box-sizing: border-box;
        padding: 20px 0;
    }

    .landing-page-logo {
        position: relative;
        width: 350px;
        height: 65px;
        padding-left: env(safe-area-inset-left);
    }

    .landing-page-logo img {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -60%);
        height: 60%;
    }

    .landing-page-text {
        position: relative;
        color: #f5f5f5;
        padding: 0 5%;
        margin-top: 15%;
    }
    
    .landing-page-text h1 {
        font-family: serif;
        font-size: 2.25em;
        margin-bottom: 0.5em;
        line-height: 1.05em;
    }
    
    .landing-page-text h2 {
        font-weight: 300;
        font-size: 1.5em;
    }

    .landing-page-blurb {
        line-height: 1.55em;
        margin-bottom: 1em;
        font-weight: 300;
    }

    .landing-page-start-button {
        display: flex;
        align-items: center;
        color: #f5f5f5;
        background-color: #24788f;
        width: -moz-fit-content;
        width: fit-content;
        padding: 0.25em 1.5em;
        font-family: system-ui;
        font-size: 1em;
        height: 40px;
        line-height: 2.25;
    }

    .landing-page-start-button svg {
        width: 1.7em;
        fill: #fff;
        margin-right: 0.5em;
    }

    #readNowButton {
        font-weight: 600;
        padding: 0.2em 0.8em;
        font-size: 1.25em;
    }

    #readNowButton span {
        line-height: 1
    }

    /* || HEADER styles */
    header {
        position: fixed;
        top: 0;
        z-index: 2;
        width: 100%;
        height: 56px;
        display: flex;
        padding: 0 12px;
        box-sizing: border-box;
        justify-content: space-between;
        align-items: center;
    }

    .header-nav-button {
        border: none;
        font-size: 32px;
        padding: 0;
        color: #ffffff;
    }

    .header-title-mobile {
        color: #ffffff;
        font-size: 24px;
        font-weight: 900;
        max-width: 265px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    header a {
        display: inline-block;
        width: 20px;
        transform: translateY(20%);
    }

    .header-logo-mobile {
        width: 100%;
    }

    /* || NAV styles */
    .nav-menu {
        top: 56px;
        bottom: 0;
        width: 65%;
        position: fixed;
        height: auto;
        max-height: 0%;
        padding: 0em 0em 0em 0.75em;
        box-sizing: border-box;
        background-color: #f5f5f5;
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 2;
        opacity: 0;
        color: #363636;
        transition: max-height 0.5s;
    }

    .nav-menu-opened {
        padding: .75em 0em 0.75em 0.75em;
    }

    @supports(padding: max(0px)) {
        .nav-menu {
            padding: 0em 0em 0em max(0.75em, env(safe-area-inset-left));
        }

        .nav-menu-opened {
            padding: .75em 0em 0.75em max(0.75em, env(safe-area-inset-left));
        }
    }

    .nav-menu a {
        color: inherit;
        width: 100%;
    }

    .nav-menu-chapter-container {
        display: flex;
        flex-direction: row;
    }

    .nav-menu-chapter-container button {
        width: 15%;
        padding: 0 0.5em;
        border: none;
        background: none;
        display: flex;
        align-items: center;
        box-sizing: content-box;
        transform: rotate(0deg);
        transition: transform 1s; 
    }

    .nav-menu-chapter-container button svg {
        flex: 1;
        fill: #8c8c8c;
    }
    
    .nav-menu-chapter h1 {
        padding: 12px 0;
    }
    
    .nav-menu-chapter-title {
        font-weight: 400;
    }
    
    .nav-menu-sections {
        padding-inline-start: 1em;
        overflow: hidden;
        height: 0;
        transition: height 1s;
    }
    
    .nav-menu-section-entry {
        padding: 12px 6px 12px 0;
        font-weight: 400;
    }
    
    .nav-menu-section-number {
        font-weight: 600;
    }
    
    .nav-menu-ch1-on, .nav-menu-ch1-background:hover {
        background-color: #a7a9ac;
    }
    
    .nav-menu-ch2-on, .nav-menu-ch2-background:hover {
        background-color: #bcd3ed;
    }
    
    .nav-menu-ch3-on, .nav-menu-ch3-background:hover {
        background-color: #9ac3c7;
    }
    
    .nav-menu-ch4-on,  .nav-menu-ch4-background:hover {
        background-color: #99bd99;
    }
    
    .nav-menu-ch5-on, .nav-menu-ch5-background:hover {
        background-color: #ffef99;
    }
    
    .nav-menu-ch6-on,  .nav-menu-ch6-background:hover {
        background-color: #ffc799;
    }
    
    .nav-menu-ch7-on,  .nav-menu-ch7-background:hover {
        background-color: #fab19c;
    }
    
    .nav-menu-ch8-on, .nav-menu-ch8-background:hover {
        background-color: #e0a1a4;
    }
    
    .nav-menu-ch9-on, .nav-menu-ch9-background:hover {
        background-color: #c29db2;
    }
    
    .nav-menu-ch10-on, .nav-menu-ch10-background:hover {
        background-color: #baafcc;
    }

    #nav {
        opacity: 0.3;
    }

    .mobile-footer-data {
        border-top: 1px solid #000000;
        margin-left: -12px;
        padding: 12px 0 0 12px;
        font-weight: 300;
    }

    .mobile-footer-data li {
        margin-bottom: 12px;
    }

    /* || CONTROLS styles */
    .page-controls-mobile {
        position: fixed;
        bottom: 0;
        box-sizing: border-box;
        height: 56px;
        width: 100%;
        padding: 8px 16px;
        display: flex;
        justify-content: space-between;
        background: #505050;
        z-index: 1;
    }

    .page-controls-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1;
        font-size: 33.5px;
        color: #c2c2c2;
    }

    .page-controls-button {
        width: 35px;
        height: 100%;
        background: #505050;
        border: none;
        padding: 0;
    }

    .page-controls-button svg {
        fill: #c2c2c2;
        width: 100%;
    }

    .page-controls-selected svg {
        fill: #ffffff;
    }

    /* || MODAL styles */
    .subsection-modal-overlay {
        display: none;
    }

    /* || SECTION styles */
    .book-section-text {
        padding-bottom: 72px;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        min-height: calc(100vh - 72px);
        background: #363636;
    }

    .book-section-text-margins {
        margin: 0px 15px;
    }

    @supports(padding: max(0px)) {
        .book-section-text-margins {
            margin: 0px max(15px, env(safe-area-inset-right)) 0 max(15px, env(safe-area-inset-left));
        }
    }

    .book-section-title {
        padding-top: 72px;
    }

    .book-section-text-header {
        font-size: 22px;
        margin-bottom: 16px;
    }

    .book-section-text-material p {
        margin-block-start: 0;
    }

    .book-section-text-material h2 {
        font-size: 19px;
        margin-bottom: 16px;
    }

    .book-section-non-text-content {
        background: #717171;
        position: fixed;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 56px 1em;
        align-items: center;
        justify-content: center;
    }

    .book-section-non-text-content video {
        background: #ffffff;
        width: 100%;
    }

    /* || QUALITY styles */
    .video-quality-changer-mobile {
        display: flex;
        float: right;
        color: #ffffff;
        font-size: 1em;
    }

    .video-quality-changer-mobile * {
        box-sizing: border-box;
    }

    .video-quality-changer-entry {
        display: grid;
        grid-template-columns: min-content auto;
        grid-gap: 0.5em;
        margin-left: 0.75em;
    }

    .video-quality-changer-input {
        display: flex;
        align-items: center;
    }

    .video-quality-changer-input input {
        opacity: 0;
        width: 0;
        height: 0;
        margin: 0;
        display: flex;
    }

    .video-quality-changer-control {
        display: grid;
        place-items: center;
        width: 0.85em;
        height: 0.85em;
        border-radius: 50%;
        border: 0.1em solid #fff;
        background-color: #fff;
        transform: translateY(-0.05em);
    }

    .video-quality-changer-input input + .video-quality-changer-control::before {
        content: "";
        width: 0.6em;
        height: 0.6em;
        box-shadow: inset 0.5em 0.5em #717171;
        border-radius: 50%;
        transform: scale(1);
    }

    .video-quality-changer-input input:checked + .video-quality-changer-control::before {
        transform: scale(0);
    }

    .subsection-modal-container .video-quality-changer-input input + .video-quality-changer-control::before {
        transform: scale(0);
    }

    .subsection-modal-container .video-quality-changer-input input:checked + .video-quality-changer-control::before {
        transform: scale(1);
    }

    .video-quality-changer-label {
        font-size: 0.95em;
        line-height: 1.5;
    }

    .subsection-modal-container .video-quality-changer-mobile {
        flex: 1 0 auto;
        position: relative;
        margin-left: auto;
        margin-bottom: -22px;
        color: #000000;
        transform: translateY(0);
        flex-direction: row;
        left: initial;
        top: initial;
    }

    .subsection-modal-container .video-quality-changer-control {
        border: 0.1em solid #000;
    }

    /* || SLIDER styles */
    .book-section-comparison-slider-fullscreen-container {
        display: none;
        position: relative;
        width: 100%;
        height: 100%;
    }

    .book-section-comparison-slider-fullscreen-container[data-state="fullscreen"] {
        display: flex !important;
        align-items: center !important;
        border: none !important;
        position: fixed;
        top: 0;
        left: 0;
        background: #000;
        max-height: none;
        z-index: 100;
        border-radius: 0 !important;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .book-section-comparison-slider-fullscreen-container[data-state="fullscreen"] .book-section-comparison-slider-container {
        border: 7px #cccccc solid !important;
        border-radius: 10px !important;
        box-sizing: border-box !important;
        margin: auto !important;
        background: #cccccc !important;
        box-shadow: 0px 0px 0 1px #444;
    }

    .book-section-comparison-slider-fullscreen-container[data-state="fullscreen"] .book-section-comparison-before {
        margin: 0 !important;
        max-height: 100% !important;
    }

    .book-section-comparison-button-container {
        margin-left: 10px;
        margin-bottom: 1px;
        z-index: 1;
    }

    .book-section-comparison-button-container button {
        margin: 0;
        padding: 0;
        background: #cccccc;
        border: 1px solid hsl(219, 1%, 72%);
        border-bottom: none;
        border-radius: 10px 10px 0 0;
        box-shadow: 0px -1px 0 0px #444, 1px 0px 0 0px #444, 0px 1px 0 0px #444, -1px 0px 0 0px #444;
    }

    .book-section-comparison-button-container button[data-state="selected"] {
        box-shadow: 0px -1px 0 0px #444, 1px 0px 0 0px #444, 0px 1px 0 0px #ccc, -1px 0px 0 0px #444;
    }

    .book-section-comparison-button-container button svg {
        width: 1.75em;
        margin: 0.15em 0.75em 0em 0.75em;
        fill: #ffffff;
    }

    .book-section-comparison-button-container button[data-state="selected"] svg {
        fill: #15404e;
    }

    .book-section-comparison-slider-container {
        display: flex;
        position: relative;
        border: 7px #cccccc solid;
        border-radius: 10px;
        background: #cccccc;
        box-shadow: 0px 0px 0 1px #444;
    }

    .book-section-comparison-range:focus +  .book-section-comparison-slider .book-section-comparison-button {
        outline: -webkit-focus-ring-color auto 1px;
    }

    .book-section-comparison-slider {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: ew-resize;
        height: 100%;
        width: 0.3em;
        left: 50%;
        background: #cccccc;
    }
    
    .book-section-comparison-button {
        position: absolute;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: ew-resize;
        width: 6vh;
        height: 6vh;
        background-color: #15404e;
        border-radius: 100%;
        box-shadow: 0 0 0 2px rgb(0 0 0 / 20%), 0 0 20px rgb(0 0 0 / 60%), inset 0px 1px 2px 1px rgb(255 255 255 / 30%);
    }

    .book-section-comparison-button svg {
        fill: #cccccc;
        width: 55%;
        margin: 0 -2px;
    }

    .book-section-comparison-button svg:nth-child(1) {
        transform: rotate(270deg);
    }

    .book-section-comparison-button svg:nth-child(2) {
        transform: rotate(90deg);
    }

    .book-section-comparison-before {
        flex: 1;
        height: 100%;
        width: 100%;
    }

    .book-section-comparison-after {
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: auto 100%;
    }

    .book-section-comparison-control-button {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        background: #0000006e;
        background: #ffffff87;
        border: none;
        border-right: none;
        margin: 0;
        padding: 2%;
        border-top: none;
        border-radius: 0 0 0 10px;
    }

    .book-section-comparison-control-button svg {
        width: 1.25em;
        fill: #15404e;
    }

    .book-section-comparison-go-fullscreen {
        margin: 7px;
    }

    .book-section-comparison-exit-fullscreen {
        display: none;
    }

    .book-section-comparison-exit-fullscreen-desktop {
        display: none;
    }

    .book-section-comparison-load-failed {
        display: none;
        width: 100%;
        height: 100%;
        background: #fff;
    }

    /* || MODAL styles */
    .subsection-modal-overlay {
        display: none;
        position: fixed;
        height: 100%;
        width: 100%;
        background: rgba(156, 156, 156, 0.5);
        z-index: 2;
    }

    .subsection-modal-container {
        display: none;
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: min-content;
        width: 82.5%;
        max-height: 90%;
        flex-direction: column;
        padding: 16px;
        padding-top: 8px;
        border: 4px solid #000000;
        background: #ffffff;
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    }

    .subsection-modal-container-slider-fullscreen {
        top: initial !important;
        left: initial !important;
        transform: initial !important;
        width: initial !important;
        height: 100% !important;
        max-height: initial !important;
        border: initial !important;
    }

    .modal-exit-button-mobile {
        flex: 0 0 auto;
        background: #ffffff;
        border: none;
        font-size: 24px;
        font-weight: 900;
        padding: 0;
        margin-left: auto;
        margin-bottom: 8px;
        z-index: 2;
    }

    .subsection-modal-container .book-section-comparison-button-container {
        display: block;
        margin-top: -2em;
    }

    .subsection-modal-container .book-section-video-player {
        position: relative;
        background: #ffffff;
        display: flex;
        align-items: center;
        border: 7px #cccccc solid;
        border-radius: 10px 10px 0 0;
        box-shadow: 0px -1px 0 0px #444, 1px 0px 0 0px #444, 0px 1px 0 0px #ccc, -1px 0px 0 0px #444;
        flex: 1 0 auto;
        height: auto;
    }

    .subsection-modal-container .book-section-comparison-slider-fullscreen-container {
        height: auto;
    }

    .subsection-modal-container .book-section-comparison-slider-fullscreen-container[data-state="fullscreen"] {
        height: 100%;
        width: 100%;
    }

    .subsection-modal-container .book-section-comparison-slider-container {
        border-radius: 10px 10px 0 0;
        box-shadow: 0px -1px 0 0px #444, 1px 0px 0 0px #444, 0px 1px 0 0px #ccc, -1px 0px 0 0px #444;
    }   

    .subsection-modal-text {
        margin-top: 22px;
    }

    .subsection-modal-text a {
        text-decoration: underline;
        color: rgb(50 92 105);
    }

    .subsection-modal-text h1 {
        font-size: 1.75em;
    }

    .subsection-modal-img {
        width: 100%;
        max-height: 50vh;
        object-fit: contain;
        margin-bottom: 16px;
    }

    .subsection-modal-container video {
        width: 100%;
        border: 1px solid #000000;
        box-sizing: border-box;
    }

    /* || CHAPTER styles */
    .book-chapter-content {
        position: fixed;
        box-sizing: border-box;
        height: 100vh;
        width: 100%;
        background: #717171;
        padding: 0 16px;
    }

    
    .book-chapter-text-section {
        color: #ffffff;
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        top: 50%;
        transform: translateY(-60%);
    }

    #book-chapter-text-section-Outlook {
        right: 0;
    }

    .book-chapter-title {
        font-size: 60px;
        margin-left: auto;
        text-align: right;
    }

    #book-chapter-title-Introduction {
        font-size: 54px;
    }

    .book-chapter-quote {
        text-align: right;
        font-size: 16px;
    }

    .book-chapter-quote a {
        color: inherit;
        text-decoration: underline;
        margin: 0 2.5px;
    }

    /* || APPENDIX styles */
    .book-appendix-page {
        min-height: 100vh;
    }

    .book-appendix-page-fullscreen-polyfill {
        min-height: 0;
        height: 0;
        overflow: hidden;
    }

    .book-appendix-inner {
        padding: 72px 16px;
    }

    @supports(padding: max(0px)) {
        .book-appendix-inner {
            padding: 72px max(16px, env(safe-area-inset-right)) 72px max(16px, env(safe-area-inset-left));
        }
    }

    .book-appendix-inner h1 {
        font-size: 28px;
        margin-bottom: 16px;
    }

    .book-appendix-chapter-heading {
        margin-right: 16px;
    }

    .book-appendix-li-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        padding-bottom: 8px;
        margin-bottom: 16px;
        border-bottom: 1px solid #ffffff;
    }

    .book-appendix-li-header h2 {
        font-size: 20px;
    }

    .book-appendix-li-header button{
        color: #4B889B;
        border: none;
        padding: 0;
        font-size: 2em;
        font-weight: 600;
        transition: transform 1s;
    }

    .book-appendix-li-header button:focus{
        outline: none;
    }

    .book-appendix-li-dropdown {
        overflow: hidden;
        height: 0;
        transition: height 1s;
    }

    .book-features-ref-list {
        padding-left: 16px;
    }

    .book-features-ref-list li {
        margin-bottom: 14px;
    }

    .book-profile-anchor {
        position: absolute;
        margin-top: -72px;
    }

    .book-profiles-bio {
        text-align: center;
    }

    .book-profiles-bio img {
        max-height: 200px;
    }

    .book-profile-blurb {
        text-align: left;
    }

    .csl-entry {
        display: flex;
        flex-direction: row;
        margin-bottom: .9375em;
    }

    .csl-left-margin {
        margin-right: 8px;
    }

    .csl-right-inline a {
        word-break: break-all;
    }

    .book-appendix-page iframe {
        width: 100%;
        height: 100%;
    }

    .feedback-offline-message {
        display: none;
        color: #000000;
        height: fit-content;
        margin-top: auto;
        margin-bottom: auto;
        text-align: center;
    }

    #feedbackModal {
        height: 90%;
    }

    .book-appendix-download a {
        display: flex;
        justify-content: center;
        color: rgb(245 245 245);
        width: auto;
        text-decoration: none;
        margin: 2em 0;
    }

    .book-appendix-dropdown-list #DownloadthisBook {
        display: none;
    }
}

@media(min-width:480px) {

    /* || LANDING styles*/
    .landing-page-container {
        position: relative;
        height: 100vh;
    }

    .landing-page-text {
        margin-top: 1%;
    }

    .landing-page-background-overlay {
        height: 100vh;
    }

    /* || NAV styles */
    .nav-menu {
        bottom: 0;
    }

    .nav-menu-chapter-container button {
        width: 8%;
    }

    /* || CONTROLS styles */
    .page-controls-mobile:not([data-chapter="true"]) {
        position: relative;
    }

    /* || SECTION styles */
    .book-section-text {
        padding-bottom: 16px;
    }

    .book-section-non-text-content video {
        height: 100%;
        width: auto;
    }

    .book-section-video-player {
        height: 100%;
    }

    .book-section-video-container {
        position: relative;
        height: 100%;
        max-height: 90%;
    }


    /* || QUALITY styles */
    .video-quality-changer-mobile {
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translate(0, -50%);
    }

    /* || SLIDER styles */
    .subsection-modal-container .book-section-comparison-slider-fullscreen-container {
        border: 7px #cccccc solid;
        border-radius: 10px 10px 0 0;
        box-sizing: border-box;
        box-shadow: 0px -1px 0 0px #444, 1px 0px 0 0px #444, 0px 1px 0 0px #ccc, -1px 0px 0 0px #444;
    }

    .book-section-comparison-slider-container {
        height: 100%;
        box-sizing: border-box;
    }

    .subsection-modal-container .book-section-comparison-go-fullscreen {
        margin: 0;
    }

    .book-section-comparison-before {
        height: auto;
        max-height: 100%;
        width: auto;
    }

    .subsection-modal-container .book-section-comparison-slider-container {
        background: none;
        border: none;
        margin: auto;
        width: fit-content;
        box-shadow: none;
    }

    .subsection-modal-container .book-section-comparison-before {
        max-height: 50vh;
        flex: 0;
        margin: auto;
        height: 100%;
    }

    .book-section-comparison-fullscreen-polyfill {
        height: 100vh;
    }

    .book-section-comparison-button {
        width: 11vh;
        height: 11vh;
    }

    .book-section-comparison-load-failed {
        width: auto;
    }

    .subsection-modal-container .book-section-comparison-load-failed {
        width: 100%;
        max-height: 50vh;
    }

    /* || MODAL styles */
    .subsection-modal-container {
        width: 90%;
        max-height: 82.5%;
    }

    .subsection-modal-container video {
        max-height: 50vh;
    }

    /* || CHAPTER styles */
    .book-chapter-text-section {
        position: fixed;
        flex-direction: row;
        align-items: center;
        transform: translateY(-50%);
        padding: 0 16px;
    }

    .book-chapter-quote {
        width: 45%;
    }

    /* || APPENDIX styles */
    .book-profiles-bio img {
        float: left;
        margin-right: 16px;
    }

    .book-profile-blurb {
        max-height: 200px;
        overflow: auto;
    }

    .book-profile-blurb p {
        margin-block-start: 0;
    }
}

}