/* Index (search "|| <style>" to find associated styles) */
/* || GENERAL - Definitions for base behavior of HTML elements */ 
/* || SITE - Classes that are used on almost all pages throughout site */
/* || HEADER - Header for all pages besides landing page */
/* || LANDING - Index landing page */
/* || PAGE - Classes that define layout for the containers of the book pages and the nav bar */
/* || CHAPTER - Chapter landing pages */
/* || SECTION - Section/Summary pages of book */
/* || MODAL - "Learn more" modals (also used in about project page) */
/* || FOOTER - Footer used on all pages */
/* || APPENDIX - Appendix pages at end of book */
/* || REFERENCES - Classes specific to references appendix page */
/* || PROFILES - Classes specific to profiles appendix page */
/* || FEATURES - Classes specific to features appendix page */
/* || ABOUT - About this project page */
/* || MOBILE - Styles that apply to mobile components */

@media (min-width:900px) {
    /* || GENERAL styles */
    body {
        margin: 0;
        height: 100vh;
        font-family: sans-serif;
    }

    h1, h2, button {
        font-size: 100%;
    }

    h1, h2 {
        margin-block-start: 0;
        margin-block-end: 0;
    }

    ol, ul {
        padding-inline-start: 0;
        margin-block-start: 0;
        margin-block-end: 0;
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    blockquote {
        margin-inline-end: 0;
        margin-inline-start: 0;
    }

    /* || SITE wide */
    .preload * {
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -ms-transition: none !important;
        -o-transition: none !important;
    }

    /* Recommended styling for screen readers by webaim.org */
    .sr-only {
        position:absolute;
        left:-10000px;
        top:auto;
        width:1px;
        height:1px;
        overflow:hidden;
    }

    .main-color-background {
        background-color: rgb(21 64 78);
    }

    .hidden {
        visibility: hidden;
    }

    .dark-background-text {
        background-color: rgb(54 54 54);
        color: rgb(245 245 245)
    }

    .dark-background-text a {
        color: #5caac5;
        text-decoration: underline;
    }

    .book-text-content, .csl-entry {
        line-height: 1.3em;
    }

    /* || HEADER styles */
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
    }

    header a {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 1.25%;
    }

    .header-logo {
        height: 70%;
        transform: translate(0, 12%);
    }

    .header-logo-mobile {
        display: none;
    }

    .header-title-mobile {
        display: none;
    }

    .header-nav-button {
        border: none;
        font-size: 2em;
        margin-left: 0.75em;
        padding: 0;
        color: rgb(245 245 245);
    }

    /* LANDING page styles */
    .landing-page-container {
        position: relative;
        height: 100%;
        background-image: url(../img/backgroundImage.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .landing-page-background-overlay {
        background-color: rgb(0 0 0 / 0.6);
        height: 100%;
    }

    .landing-page-logo {
        position: absolute;
        height: 90px;
        width: 690px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 2%;
    }

    .landing-page-logo img {
        height: 65%;
        object-fit: contain;
        transform: translate(0, 10%);
    }

    .landing-page-text {
        position: absolute;
        height: 100%;
        width: 38%;
        min-width: 44em;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 10%;
        color: rgb(245 245 245);
        font-family: system-ui;
    }

    .landing-page-text h1 {
        font-family: serif;
        font-size: 4.5em;
        margin-bottom: 0.5em;
        line-height: 1.05em;
    }

    .landing-page-text h2 {
        font-weight: 300;
        font-size: 2em;
    }

    .landing-page-blurb {
        line-height: 1.55em;
        font-size: 1.4em;
        font-weight: 100;
        margin-bottom: 1em;
    }

    .landing-page-start-button {
        color: rgb(245 245 245);
        width: -moz-fit-content;
        width: fit-content;
        border: none;
        padding: 0em 2.5em;
        display: flex;
        align-items: center;
        font-family: system-ui;
        font-size: 1em;
        transition: color 0.25s;
        background-color: #24788f;
    }

    .landing-page-start-button span {
        font-size: 3em;
        margin-right: 0.2em;
    }

    .landing-page-download-button {
        position: absolute;
        top: 2%;
        right: 10%;
        transform: translatey(18%);
        color: #ffffff;
        display: flex;
        flex-direction: row;
        align-items: center;
        background: rgba(255,255,255,0.125);
        border-radius: 3px;
        padding: 5px 10px;
    }

    @media only screen and (max-width: 1000px) {
        .landing-page-download-button {
            right: 2%;
        }
    }

    .landing-page-download-icon {
        height: 3.5em;
        margin-right: 1em;
    }

    /* || PAGE styles (styles for every page of the book) */
    .book-page-container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .book-page-content {
        position: relative;
        width: 100%;
        height: 100%;
        background: rgb(113 113 113);
        overflow: hidden;
    }

    .book-page-nav {
        font-size: 5em;
        color: rgb(245 245 245);
        margin: 0 1rem;
        text-decoration: none;
        transition: color 0.25s;
    }

    .book-page-nav:hover {
        color: #262626;
    }

    .nav-menu {
        position: absolute;
        top: 0;
        left: 0;
        height: 0%;
        width: 20.75em;
        padding: 0em 0em 0em 0.75em;
        box-sizing: border-box;
        background-color: rgb(245 245 245);
        overflow: auto;
        z-index: 99;
        opacity: 0;
        transition: height 0.5s, opacity 0.2s;
        color: rgb(54 54 54);

        /* Remove scroll bar for different types of browsers */
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .nav-menu-opened {
        padding: .75em 0em 0.75em 0.75em;
    }

    .nav-menu a {
        color: inherit;
    }

    /* Remove scroll bar for different types of browsers */
    .nav-menu::-webkit-scrollbar {
        display: none;
    }

    .nav-menu-chapter h1 {
        padding: 0.75em 0 0.75em 0.75em;
    }

    .nav-menu-chapter-title {
        font-weight: 300;
    }

    .nav-menu-sections {
        padding-inline-start: 1em;
    }

    .nav-menu-section-entry {
        padding: 0.75em 0 0.75em 0.75em;
    }

    .nav-menu-section-number {
        font-weight: 600;
    }

    .nav-menu-default-hover:hover {
        font-style: italic;
    }

    .nav-menu-ch1-on, .nav-menu-ch1-background:hover {
        background-color: rgb(167, 169, 172);
    }

    .nav-menu-ch2-on, .nav-menu-ch2-background:hover {
        background-color: rgb(188 211 237);
    }

    .nav-menu-ch3-on, .nav-menu-ch3-background:hover {
        background-color: rgb(154 195 199);
    }

    .nav-menu-ch4-on,  .nav-menu-ch4-background:hover {
        background-color: rgb(153 189 153);
    }

    .nav-menu-ch5-on, .nav-menu-ch5-background:hover {
        background-color: rgb(255 239 153);
    }

    .nav-menu-ch6-on,  .nav-menu-ch6-background:hover {
        background-color: rgb(255 199 153);
    }

    .nav-menu-ch7-on,  .nav-menu-ch7-background:hover {
        background-color: rgb(250 177 156);
    }

    .nav-menu-ch8-on, .nav-menu-ch8-background:hover {
        background-color: rgb(224 161 164);
    }

    .nav-menu-ch9-on, .nav-menu-ch9-background:hover {
        background-color: rgb(194 157 178);
    }

    .nav-menu-ch10-on, .nav-menu-ch10-background:hover {
        background-color: rgb(186 175 204);
    }

    #nav {
        cursor: not-allowed;
        opacity: 0.3;
    }

    .nav-menu-footer {
        border-top: 1px solid #000000;
        color: #525252;
        margin-left: -12px;
        margin-top: 4px;
        padding: 1em 0 12px 24px;
    }

    .nav-menu-footer:hover {
        font-style: italic;
    }

    /* || CHAPTER page styles (styles for every page of the book that is a chapter landing page) */
    .book-chapter-content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 100%;
        align-items: center;
    }

    .book-chapter-text-section {
        flex: 0 0 75%;
        color: rgb(255 255 255);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .book-chapter-text-section a {
        color: inherit;
        text-decoration: underline;
        margin: 0 0.15em;
    }

    .book-chapter-title {
        font-size: 8em;
        padding-right: 0.15em;
        margin-left: 1em;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .book-chapter-title h1 {
        margin-block-end: 0em;
        margin-block-start: 0em;
        white-space: nowrap;
    }

    .book-chapter-quote {
        width: 40%;
        text-align: right;
        font-size: 1.25em;
    }

    @media only screen and (max-width: 1280px) {
        .book-chapter-text-section {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: flex-end;
            height: 80%;
        }

        .book-chapter-title {
            padding-right: 0;
            margin-left: 0;
        }

        .book-chapter-quote {
            width: auto;
        }
    }

    /* || SECTION page styles (styles for every page of the book that is a section) */

    .book-section-non-text-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 62%;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 62%;
        transition: width 1s, right 1s;
    }

    .book-section-non-text-content-empty {
        justify-content: space-between;
    }

    .book-section-video-container {
        position: relative;
        max-width: 77.5vw;
        max-height: 97%;
        width: 100%;
    }
    
    .book-section-video-container video{
        min-width: 0;
        width: 100%;
        background-color: rgb(255 255 255);
    }

    .video-quality-changer {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translateY(100%);
        color: #ffffff;
        font-size: 1em;
        font-weight: 600;
    }

    .book-section-non-text-content img {
        width: 100%;
        min-width: 0;
        background-color: rgb(245 245 245);
    }

    .book-section-text-open-button {
        position: absolute;
        border: none;
        font-size: 1.35em;
        font-weight: 600;
        padding: 10px;
        left: 100%;
        padding-right: 25px;
        transition: transform 1s;
        white-space: nowrap;
        z-index: 1;
    }

    .book-section-text {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: 0;
        display: flex;
        flex-direction: column;
        margin: auto;
        padding-top: 1em;
        height: fit-content;
        max-height: 90%;
        width: 38%;
        overflow: hidden;
        font-size: 1rem;
        transition: transform 1s;
    }

    .book-section-text-margins {
        margin: 0px 15px;
    }

    .book-section-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1 0 auto;
    }

    .book-section-text-close-button {
        border: none;
        padding: 0;
        font-weight: 600;
    }

    .book-section-text-divider {
        margin: 0 1em;
        width: .1em;
        height: 1.25em;
        background-color: rgb(245, 245, 245);
    }

    .book-section-text-header {
        font-size: 1.35em;
    }

    .book-section-text-material {
        flex: 1 1 auto;
        overflow: auto;
    }

    .video-citation {
        flex: 1 0 auto;
        background: #cccccc;
        color: #545454;
        padding: 0.5em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        font-weight: 600;
        font-size: 0.85em;
        line-height: 1.2em;
    }

    .video-citation a {
        text-decoration: underline;
        color: rgb(50 92 105);
    }

    .video-citation-value {
        color: rgb(50 92 105);
    }

    .video-citation span {
        margin: 0 3px;
        text-align: center;
    }

    .book-section-learn-more {
        display: flex;
        flex: 1 0 auto;
        flex-direction: row;
        align-items: baseline;
        padding: 1em 15px;
        background-color: #858585;
    }

    .book-section-learn-more h1 {
        flex: 0 0 auto;
    }

    .book-section-learn-more-buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 1;
        justify-content: center;
    }

    .book-section-learn-more-buttons button {
        color: rgb(245 245 245);
        border: none;
        border-radius: 10px;
        font-size: .95em;
        font-weight: 600;
        padding: 0.625em 2.5em;
        margin: 0.3125em;;
    }

    /* || MODAL styles */
    .subsection-modal-overlay {
        display: none;
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgb(156 156 156 / 50%);
        z-index: 1;
    }

    .subsection-modal-container {
        display: none;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        flex-direction: column;
        width: fit-content;
        height: fit-content;
        max-width: 50%;
        max-height: 90%;
        padding: 1em;
        border: 4px solid rgb(0 0 0);
        background: rgb(255 255 255);
    }

    .subsection-modal-text {
        margin-top: 1em;
        overflow: auto;
    }

    .subsection-modal-text a {
        text-decoration: underline;
        color: rgb(50 92 105);
    }

    .subsection-modal-text h1 {
        font-size: 1.75em;
    }

    .subsection-modal-container img {
        width: 100%;
        max-height: 50vh;
        object-fit: contain;
    }

    .subsection-modal-container video {
        max-height: initial;
    }

    #concept-check-questions, #further-reading {
        margin-top: 2em;
    }

    /* || FOOTER styles */
    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 2.5rem;
        background: #757575;
        font-weight: 600;
        font-size: 0.85rem;
        color: rgb(255 255 255);
    }

    footer a {
        color: inherit;
    }

    footer > * {
        flex: 1;
        text-align: center;
    }

    /* || APPENDIX styles */
    .book-appendix-page {
        width: 100%;
        height: 100%;
        overflow: auto;
    }

    .book-appendix-inner {
        height: fit-content;
        width: auto;
        max-width: 57.5em;
        padding: 0 3em;
        margin: 4em auto;
    }

    .book-appendix-page h1 {
        font-size: 2em;
        margin-bottom: 1em;
    }

    .book-appendix-chapter-heading {
        margin-right: 1em;
    }

    .book-appendix-dropdown-list {
        height: 100%;
        width: 100%;
    }

    .book-appendix-li-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        padding-bottom: 0.5em;
        margin-bottom: 1.5em;
        border-bottom: 1px solid rgb(245 245 245);
    }

    .book-appendix-li-header h2 {
        font-size: 1.5em;
    }

    .book-appendix-li-header button{
        color: #4B889B;
        border: none;
        padding: 0;
        font-size: 2em;
        font-weight: 600;
        transition: transform 1s;
    }

    .book-appendix-li-header button:focus{
        outline: none;
    }

    .book-appendix-li-dropdown {
        overflow: hidden;
        height: 0;
        transition: height 1s;
    }

    .book-appendix-nav {
        position: absolute;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .book-appendix-nav:hover {
        color: rgb(179 179 179);
    }

    .book-appendix-nav-right {
        right: 0;
    }

    .book-appendix-download a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(245 245 245);
        width: 300px;
        height: 56px;
        text-decoration: none;
        margin: 2em 0;
    }

    /* || REFERENCES styles */
    .csl-entry {
        display: flex;
        flex-direction: row;
        margin-bottom: 1em;
    }

    .csl-left-margin {
        margin-right: 0.5em;
    }

    /* || PROFILES styles */
    .book-profiles-bio {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .book-profiles-bio img {
        margin-right: 2em;
    }

    .book-profile-blurb {
        width: 100%;
        text-align: right;
        max-height: 267px;
        overflow: auto;
    }

    /* || FEATURES styles */
    .book-features-ref-list {
        padding-left: 1.5em;
    }

    .book-features-ref-list li {
        margin: 1em 0;
    }

    /* || ABOUT page styles */
    .book-appendix-page .subsection-modal-container {
        max-width: none;
        max-height: none;
        width: 640px;
        height: 85%;
        min-width: 640px;
    }

    .book-appendix-page iframe {
        width: 100%;
        height: 100%;
    }

    .feedback-offline-message {
        display: none;
        color: #000000;
        height: fit-content;
        margin-top: auto;
        margin-bottom: auto;
        text-align: center;
    }

    /* || MOBILE page styles */
    .page-controls-mobile {
        display: none;
    }

    .modal-exit-button-mobile {
        display: none;
    }

    .header-nav-button-mobile {
        display: none;
    }

    .mobile-footer-data {
        display: none;
    }

    .landing-page-download-button-mobile {
        display: none;
    }
}