/* Index (search "|| <style>" to find associated styles) */
/* || GENERAL - Definitions for base behavior of HTML elements */ 
/* || SITE - Classes that are used on almost all pages throughout site */
/* || HEADER - Header for all pages besides landing page */
/* || LANDING - Index landing page */
/* || PAGE - Classes that define layout for the containers of the book pages and the nav bar */
/* || CHAPTER - Chapter landing pages */
/* || SECTION - Section/Summary pages of book */
/* || PLAYER - Styles for the custom video player */
/* || QUALITY - Styles for the quality changer */
/* || SLIDER - Styles for the image comparison slider element */
/* || MODAL - "Learn more" modals (also used in about project page) */
/* || FOOTER - Footer used on all pages */
/* || APPENDIX - Appendix pages at end of book */
/* || REFERENCES - Classes specific to references appendix page */
/* || PROFILES - Classes specific to profiles appendix page */
/* || FEATURES - Classes specific to features appendix page */
/* || ABOUT - About this project page */
/* || MOBILE - Styles that apply to mobile components */

@media (min-width:900px) {
    /* || GENERAL styles */
    body {
        margin: 0;
        height: 100vh;
        font-family: sans-serif;
    }

    h1, h2, h3, button {
        font-size: 100%;
    }

    h1, h2, h3 {
        margin-block-start: 0;
        margin-block-end: 0;
    }

    ol, ul {
        padding-inline-start: 0;
        margin-block-start: 0;
        margin-block-end: 0;
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    blockquote {
        margin-inline-end: 0;
        margin-inline-start: 0;
    }

    /* || SITE wide */
    .preload * {
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -ms-transition: none !important;
        -o-transition: none !important;
    }

    /* Recommended styling for screen readers by webaim.org */
    .sr-only {
        position:absolute;
        left:-10000px;
        top:auto;
        width:1px;
        height:1px;
        overflow:hidden;
    }

    .main-color-background {
        background-color: rgb(21 64 78);
    }

    .hidden {
        visibility: hidden;
    }

    .appendix-hidden {
        display: none;
    }

    .dark-background-text {
        background-color: rgb(54 54 54);
        color: rgb(245 245 245)
    }

    .dark-background-text a {
        color: #5caac5;
        text-decoration: underline;
    }

    .book-text-content, .csl-entry {
        line-height: 1.3em;
    }

    .mouse-focus {
        outline: none !important;
    }

    /* || HEADER styles */
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
    }

    header a {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 1.25%;
    }

    .header-logo {
        height: 70%;
        transform: translate(0, 12%);
    }

    .header-logo-mobile {
        display: none;
    }

    .header-title-mobile {
        display: none;
    }

    .header-nav-button {
        border: none;
        font-size: 2em;
        margin-left: 0.75em;
        padding: 0;
        color: rgb(245 245 245);
    }

    /* LANDING page styles */
    .landing-page-container {
        position: relative;
        height: 100%;
        background-color: rgb(0 0 0 / 0.6);
        background-image: url(../img/backgroundImage.jpg);
        background-blend-mode: color;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .landing-page-logo {
        position: absolute;
        height: 90px;
        width: 690px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 16px;
    }

    .landing-page-logo img {
        height: 65%;
        object-fit: contain;
        transform: translate(0, 10%);
    }

    .landing-page-text {
        position: absolute;
        height: 100%;
        width: 38%;
        min-width: 44em;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 10%;
        color: rgb(245 245 245);
        font-family: system-ui;
    }

    @media (max-height:850px) {
        .landing-page-container {
            overflow: auto;
        }

        .landing-page-text {
            width: 70%;
            height: auto;
            padding-top: 8%;
        }
    }

    @media (max-height:650px) {
        .landing-page-text {
            font-size: 0.9em;
        }
    }

    .landing-page-text h1 {
        font-family: serif;
        font-size: 4.5em;
        margin-bottom: 0.5em;
        line-height: 1.05em;
    }

    .landing-page-text h2 {
        font-weight: 300;
        font-size: 2em;
    }

    .landing-page-blurb {
        line-height: 1.55em;
        font-size: 1.4em;
        font-weight: 100;
        margin-bottom: 1em;
    }

    .landing-page-options-container {
        display: flex;
        flex-direction: column;
        width: fit-content;
        align-items: center;
    }

    .landing-page-start-button {
        color: rgb(245 245 245);
        width: -moz-fit-content;
        width: fit-content;
        border: none;
        padding: 0.9em 2.5em;
        display: flex;
        align-items: center;
        font-family: system-ui;
        font-size: 1em;
        transition: color 0.25s;
        background-color: #24788f;
    }

    .landing-page-start-button svg {
        width: 1.7em;
        fill: #fff;
        margin-right: 0.5em;
    }

    #readNowButton {
        font-weight: 600;
        padding: 0.55em 0.875em;
        font-size: 1.25em;
    }

    #readNowButton span {
        line-height: 1;
    }

    .landing-page-download-button {
        color: #ffffff;
        margin-top: 1.75em;
        font-size: 0.97em;
    }

    .landing-page-download-button a {
        color: inherit;
        text-decoration: underline;
        font-weight: 500;
    }

    /* || PAGE styles (styles for every page of the book) */
    .book-page-container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .book-page-content {
        position: relative;
        width: 100%;
        height: 100%;
        background: rgb(113 113 113);
        overflow: hidden;
    }

    .book-page-nav {
        font-size: 5em;
        color: rgb(245 245 245);
        margin: 0 1rem;
        text-decoration: none;
        transition: color 0.25s;
    }

    .book-page-nav:hover {
        color: #262626;
    }

    .nav-menu {
        position: absolute;
        top: 0;
        left: 0;
        height: 0%;
        width: 21.75em;
        padding: 0em 0em 0em 0.75em;
        box-sizing: border-box;
        background-color: rgb(245 245 245);
        overflow-y: scroll;
        overflow-x: hidden;
        z-index: 99;
        opacity: 0;
        transition: height 0.5s, opacity 0.2s;
        color: rgb(54 54 54);
    }

    .nav-menu-opened {
        padding: .75em 0em 0.75em 0.75em;
    }

    .nav-menu a {
        color: inherit;
        width: 100%;
    }

    .nav-menu-chapter-container {
        display: flex;
        flex-direction: row;
    }

    .nav-menu-chapter-container button {
        width: 11%;
        padding: 0 0.5em;
        border: none;
        background: none;
        display: flex;
        align-items: center;
        box-sizing: content-box;
        transform: rotate(0deg);
        transition: transform 1s; 
    }

    .nav-menu-chapter-container button svg {
        flex: 1;
        fill: #8c8c8c;
    }

    .nav-menu-chapter h1 {
        padding: 0.75em 0 0.75em 0.75em;
        font-weight: 600
    }

    .nav-menu-chapter-title {
        
    }

    .nav-menu-sections {
        padding-inline-start: 1em;
        overflow: hidden;
        height: 0;
        transition: height 1s;
    }

    .nav-menu-section-entry {
        padding: 0.75em 0 0.75em 0.75em;
        font-weight: 300;
    }

    .nav-menu-section-number {
        font-weight: 600;
    }

    .nav-menu-default-hover:hover {
        font-style: italic;
    }

    .nav-menu-ch1-on, .nav-menu-ch1-background:hover {
        background-color: rgb(167, 169, 172);
    }

    .nav-menu-ch2-on, .nav-menu-ch2-background:hover {
        background-color: rgb(188 211 237);
    }

    .nav-menu-ch3-on, .nav-menu-ch3-background:hover {
        background-color: rgb(154 195 199);
    }

    .nav-menu-ch4-on,  .nav-menu-ch4-background:hover {
        background-color: rgb(153 189 153);
    }

    .nav-menu-ch5-on, .nav-menu-ch5-background:hover {
        background-color: rgb(255 239 153);
    }

    .nav-menu-ch6-on,  .nav-menu-ch6-background:hover {
        background-color: rgb(255 199 153);
    }

    .nav-menu-ch7-on,  .nav-menu-ch7-background:hover {
        background-color: rgb(250 177 156);
    }

    .nav-menu-ch8-on, .nav-menu-ch8-background:hover {
        background-color: rgb(224 161 164);
    }

    .nav-menu-ch9-on, .nav-menu-ch9-background:hover {
        background-color: rgb(194 157 178);
    }

    .nav-menu-ch10-on, .nav-menu-ch10-background:hover {
        background-color: rgb(186 175 204);
    }

    #nav {
        cursor: not-allowed;
        opacity: 0.3;
    }

    .nav-menu-footer {
        border-top: 1px solid #000000;
        color: #525252;
        margin-left: -12px;
        margin-top: 4px;
        padding: 1em 0 12px 24px;
    }

    .nav-menu-footer:hover {
        font-style: italic;
    }

    /* || CHAPTER page styles (styles for every page of the book that is a chapter landing page) */
    .book-chapter-content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 100%;
        align-items: center;
    }

    .book-chapter-text-section {
        flex: 0 0 75%;
        color: rgb(255 255 255);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .book-chapter-text-section a {
        color: inherit;
        text-decoration: underline;
        margin: 0 0.15em;
    }

    .book-chapter-title {
        font-size: 7em;
        padding-right: 0.15em;
        margin-left: 1em;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .book-chapter-title h1 {
        margin-block-end: 0em;
        margin-block-start: 0em;
        white-space: nowrap;
    }

    .book-chapter-quote {
        width: 40%;
        text-align: right;
        font-size: 1.25em;
    }

    @media only screen and (max-width: 1400px) {
        .book-chapter-text-section {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: flex-end;
            height: 80%;
        }

        .book-chapter-title {
            padding-right: 0;
            margin-left: 0;
        }

        .book-chapter-quote {
            width: auto;
        }
    }

    /* || SECTION page styles (styles for every page of the book that is a section) */

    .book-section-non-text-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 62%;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 62%;
        transition: width 1s, right 1s;
    }

    .book-section-non-text-content-empty {
        justify-content: space-between;
    }

    .book-section-video-container {
        flex: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 98%;
        max-width: 77.5vw;
    }

    /* || PLAYER styles */

    .book-section-video-player {
        position: relative;
        flex: 0 1 auto;
        min-height: 0;
        background: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 7px #cccccc solid;
        border-radius: 10px;
    }

    .book-section-video-player-fullscreen {
        border: none;
        border-radius: 0;
    }

    .book-section-video-player-fullscreen video {
        max-height: initial;
        border-radius: 0;
    }

    .book-section-video-player-fullscreen .book-section-video-player-controls {
        border-radius: 0;
    }

    .book-section-video-player video {
        flex: 1;
        width: 100%;
        min-height: 0;
        max-width: 100%;
        max-height: 100%;
    }

    .book-section-video-player-paint-canvas, .book-section-video-player-scrub-canvas {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
    }
    
    .book-section-video-player-controls {
        width: 100%;
        height: 6.25em;
        position: absolute;
        bottom: 0;
        box-sizing: border-box;
        padding: 0 1.5em 2em 1.5em;
        background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        transition: opacity 0.25s;
        opacity: 1;
    }

    .book-section-video-player-controls-buttons {
        margin-bottom: 1em;
        display: flex;
        align-items: center;
        color: #fff;
    }

    .book-section-video-player-controls-buttons button {
        height: 1.5em;
        border:none;
        cursor:pointer;
        background:transparent;
        background-size:contain;
        background-repeat:no-repeat;
        background-position: center;
    }

    .book-section-video-player-controls-buttons button:focus {
        outline: #000000 auto 1px;
    }

    .book-section-video-player-time {
        font-size: 0.85em;
        font-family: sans-serif;
        margin: 0 1em;
        margin-right: auto;
    }

    .book-section-video-player-controls-buttons button[data-state="play"] {
        background-image: url("../img/noun_Play.svg");
    }
     
    .book-section-video-player-controls-buttons button[data-state="pause"] {
        background-image: url("../img/noun_Pause.svg");
    }
    
    .book-section-video-player-controls-buttons button[data-state="go-fullscreen"] {
        background-image: url("../img/noun_Fullscreen.svg");
        margin: 0 1em;
    }

    .book-section-video-player-controls input {
        -webkit-appearance: none;
        width: 100%;
        height: 0.25em;
        border-radius: 100px;
        padding: 0;
        margin: 0;
        background: linear-gradient(#ffffff 0% 0%, #bfbfbf 0% 0%, #717171 0% 100%);
    }

    .book-section-video-player-controls input::-webkit-slider-thumb {
        appearance: none;
        width: 1em;
        height: 1em;
        border-radius: 100px;
        background: #fff;
        cursor: pointer;
    }

    .book-section-video-player-controls input::-moz-range-thumb {
        width: 1em;
        height: 1em;
        border: 0;
        border-radius: 100px;
        background: #fff;
        cursor: pointer;
    }
    
    /* Firefox Overrides */
    .book-section-video-player-controls input::-moz-range-track {
        background: #fff;
        border: 0;
    }
    
    .book-section-video-player-controls input::-moz-focus-inner,
    .book-section-video-player-controls input::-moz-focus-outer { 
      border: 0; 
    }

    /* || QUALITY */
    .video-quality-player-control {
        position: relative; 
    }

    .video-quality-changer-button {
        outline: none !important;
        position: relative;
        display: flex;
        background: none;
        border: none;
        border-radius: 6px;
        margin: 0;
        padding: 0;
        width: 5.5em;
        color: #fff;
        font-size: 0.85em;
        font-weight: 600;
        transition: background 0.1s, box-shadow 0.1s;
        box-shadow: 0px 0px #fff;
        z-index: 1;
    }

    .video-quality-changer-button:hover {
        background: #363636;
    }

    .video-quality-changer {
        display: flex;
        flex: 0;
        position: absolute;
        bottom: 5px;
        width: 100%;
        height: 0;
        box-sizing: border-box;
        overflow: hidden;
        flex-direction: column;
        color: #ffffff;
        background: #363636;
        border-radius: 6px;
        font-size: 0.85em;
        transition: height 0.5s, padding 0.5s;
    }

    .video-quality-player-control[data-state="expanded"] .video-quality-changer-button {
        background: #363636;
        box-shadow: 0px 0px 0px 2px #fff;
    }

    .video-quality-changer * {
        box-sizing: border-box;
    }

    .video-quality-changer-entry {
        position: relative;
        display: flex;
        height: 1.5em;
        font-weight: 600;
        z-index: 0;
    }

    .video-quality-changer-input {
        display: flex;
        align-items: center;
    }

    .video-quality-changer-label {
        line-height: 1.5;
        margin-left: auto;
    }

    .video-quality-changer-control {
        display: flex;
        visibility: hidden;
        margin-left: auto;
    }

    .video-quality-changer-entry input:checked + .video-quality-changer-control {
        visibility: visible;
    }

    .video-quality-changer-control svg {
        margin-left: 0.5em;
        width: 1.5em;
    }

    .video-quality-changer-button span {
        line-height: 1.5em;
        margin-left: auto;
    }

    .video-quality-changer-button-icon {
        margin-left: 0.5em;
    }

    .video-quality-changer-button-icon svg {
        fill: #fff;
        width: 1.5em;
    }

    /* || SLIDER styles */
    .book-section-comparison-slider-fullscreen-container {
        display: none;
        position: relative;
        border: 7px #ccc solid;
        border-radius: 10px;
        background: #fff;
    }

    .book-section-comparison-button-container {
        flex: 0;
        margin-left: 10px;
    }

    .book-section-comparison-button-container button {
        background: #cccccc;
        border: 1px solid hsl(219, 1%, 72%);
        border-bottom: none;
        border-radius: 10px 10px 0 0;
        box-shadow: 0 0 0.2em hsl(0deg 0% 0%);
    }

    .book-section-comparison-button-container button svg {
        width: 1.75em;
        margin: 0.15em 0.75em 0em 0.75em;
        fill: #ffffff;
    }

    .book-section-comparison-button-container button[data-state="selected"] svg {
        fill: #15404e;
    }

    .book-section-comparison-slider-container {
        position: relative;
        display: flex;
        align-items: center;
        width: fit-content;
        max-width: 100%;
        margin: auto;
    }

    .book-section-comparison-range:focus +  .book-section-comparison-slider .book-section-comparison-button {
        outline: -webkit-focus-ring-color auto 1px;
    }

    .book-section-comparison-slider {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: ew-resize;
        height: 100%;
        width: 0.3em;
        left: 50%;
        background: #cccccc;
    }
    
    .book-section-comparison-button {
        position: absolute;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: ew-resize;
        width: 50px;
        height: 50px;
        background-color: #15404e;
        border-radius: 100%;
        box-shadow: 0 0 0 2px rgb(0 0 0 / 20%), 0 0 20px rgb(0 0 0 / 60%), inset 0px 1px 2px 1px rgb(255 255 255 / 30%);
    }

    .book-section-comparison-button svg {
        fill: #cccccc;
        width: 55%;
        margin: 0 -2px;
    }

    .book-section-comparison-button svg:nth-child(1) {
        transform: rotate(270deg);
    }

    .book-section-comparison-button svg:nth-child(2) {
        transform: rotate(90deg);
    }

    .book-section-comparison-before {
        position: relative;
        max-height: inherit;
        max-width: inherit;
    }

    .book-section-comparison-after {
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: auto 100%;
    }

    .book-section-comparison-control-button {
        display: flex;
        position: absolute;
        bottom: 0;
        right: 0;
        background: #0000006e;
        background: #ffffff87;
        border: none;
        border-right: none;
        margin: 0;
        padding: 2%;
        border-top: none;
        border-radius: 10px 0 0 0;
    }

    .book-section-comparison-slider-enlarged {
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px !important;
    }

    .book-section-comparison-control-button svg {
        width: 1.25em;
        fill: #15404e;
    }

    .book-section-comparison-exit-fullscreen-desktop {
        display: none;
    }

    .book-section-comparison-load-failed {
        display: none;
        width: 100%;
    }

    .book-section-text-open-button {
        position: absolute;
        border: none;
        font-size: 1.35em;
        font-weight: 600;
        padding: 10px;
        left: 100%;
        padding-right: 25px;
        transition: transform 1s;
        white-space: nowrap;
        z-index: 1;
    }

    .book-section-text {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: 0;
        display: flex;
        flex-direction: column;
        margin: auto;
        padding-top: 1em;
        height: fit-content;
        max-height: 90%;
        width: 38%;
        overflow: hidden;
        font-size: 1rem;
        transition: transform 1s;
    }

    .book-section-text-margins {
        margin: 0px 15px;
    }

    .book-section-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1 0 auto;
    }

    .book-section-text-close-button {
        border: none;
        padding: 0;
        font-weight: 600;
    }

    .book-section-text-divider {
        margin: 0 1em;
        width: .1em;
        height: 1.25em;
        background-color: rgb(245, 245, 245);
    }

    .book-section-text-header {
        font-size: 1.35em;
    }

    .book-section-text-material {
        flex: 1 1 auto;
        overflow: auto;
    }

    .video-citation {
        flex: 1 0 auto;
        background: #cccccc;
        color: #545454;
        padding: 0.5em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        font-weight: 600;
        font-size: 0.85em;
        line-height: 1.2em;
    }

    .video-citation a {
        text-decoration: underline;
        color: rgb(50 92 105);
    }

    .video-citation-value {
        color: rgb(50 92 105);
    }

    .video-citation span {
        margin: 0 3px;
        text-align: center;
    }

    .book-section-learn-more {
        display: flex;
        flex: 1 0 auto;
        flex-direction: row;
        align-items: baseline;
        padding: 1em 15px;
        background-color: #858585;
    }

    .book-section-learn-more h1 {
        flex: 0 0 auto;
    }

    .book-section-learn-more-buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 1;
        justify-content: center;
    }

    .book-section-learn-more-buttons button {
        color: rgb(245 245 245);
        border: none;
        border-radius: 10px;
        font-size: .95em;
        font-weight: 600;
        padding: 0.625em 2.5em;
        margin: 0.3125em;;
    }

    /* || MODAL styles */
    .subsection-modal-overlay {
        display: none;
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgb(156 156 156 / 50%);
        z-index: 2;
    }

    .subsection-modal-container {
        display: none;
        position: absolute;
        box-sizing: border-box;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        flex-direction: column;
        height: fit-content;
        max-width: 52%;
        max-height: 97%;
        padding: 1em;
        border: 4px solid rgb(0 0 0);
        background: rgb(255 255 255);
        overflow-y: auto;
        overflow-x: hidden;
    }

    .subsection-modal-container .book-section-video-player {
        flex: 0 0 auto;
        border-radius: 10px 10px 0 0;
    }

    .subsection-modal-container .video-citation {
        flex: 0 0 auto;
    }

    .subsection-modal-container .book-section-comparison-slider-fullscreen-container {
        border-radius: 10px 10px 0 0;
    }

    .subsection-modal-text {
        margin-top: 1em;
        overflow: auto;
    }

    .subsection-modal-text a {
        text-decoration: underline;
        color: rgb(50 92 105);
    }

    .subsection-modal-text h1 {
        font-size: 1.75em;
    }

    .subsection-modal-img {
        width: 100%;
        max-height: 50vh;
        object-fit: contain;
    }

    .subsection-modal-container video {
        width: 100%;
        background-color: rgb(255 255 255);
    }

    #concept-check-questions, #further-reading {
        margin-top: 2em;
    }

    /* || FOOTER styles */
    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 2.5rem;
        background: #757575;
        font-weight: 600;
        font-size: 0.85rem;
        color: rgb(255 255 255);
    }

    footer a {
        color: inherit;
    }

    footer > * {
        flex: 1;
        text-align: center;
    }

    /* || APPENDIX styles */
    .book-appendix-page {
        width: 100%;
        height: 100%;
        overflow: auto;
    }

    .book-appendix-inner {
        height: fit-content;
        width: auto;
        max-width: 57.5em;
        padding: 4em 3em;
        margin: 0 auto;
    }

    .book-appendix-page h1 {
        font-size: 2em;
        margin-bottom: 1em;
    }

    .book-appendix-chapter-heading {
        margin-right: 1em;
    }

    .book-appendix-dropdown-list {
        height: 100%;
        width: 100%;
    }

    .book-appendix-li-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        padding-bottom: 0.5em;
        margin-bottom: 1.5em;
        border-bottom: 1px solid rgb(245 245 245);
    }

    .book-appendix-li-header h2 {
        font-size: 1.5em;
    }

    .book-appendix-li-header button{
        color: #4B889B;
        border: none;
        padding: 0;
        font-size: 2em;
        font-weight: 600;
        transition: transform 1s;
    }

    .book-appendix-li-header button:focus{
        outline: none;
    }

    .book-appendix-li-dropdown {
        overflow: hidden;
        height: 0;
        transition: height 1s;
    }

    .book-appendix-nav {
        position: absolute;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .book-appendix-nav:hover {
        color: rgb(179 179 179);
    }

    .book-appendix-nav-right {
        right: 0;
    }

    .book-appendix-download a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(245 245 245);
        width: 300px;
        height: 56px;
        text-decoration: none;
        margin: 2em 0;
        padding: 0em 2.5em;
    }

    .book-appendix-tree-viewer {
        cursor: grab;
        position: relative;
        overflow: hidden;
        border: 5px solid #cccccc;
        border-radius: 10px;
    }

    .book-appendix-tree-viewer-tree {
        transform: matrix(1,0,0,1,0,0);
    }

    .book-appendix-tree-viewer-tree a {
        color: initial;
        text-decoration: none;
    }

    .book-appendix-tree-viewer-controls {
        cursor: default;
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        flex-direction: column;
        z-index: 1;
    }

    .book-appendix-tree-viewer-controls button {
        background: #4B889B;
        border: 3px solid #363636;
        padding: 2px 0;
        margin: 0;
    }

    .book-appendix-tree-viewer-controls .book-appendix-tree-viewer-zoom-in {
        border-bottom: none;
        border-radius: 10px 10px 0px 0px;
        box-shadow: 0 -1px 0 1px rgb(0 0 0 / 20%), 0 -1px 2px 0px rgb(0 0 0 / 60%), inset 0px 0px 3px 0px rgb(255 255 255 / 30%);
    }

    .book-appendix-tree-viewer-controls .book-appendix-tree-viewer-zoom-out {
        border-top: none;
        border-radius: 0px 0px 10px 10px;
        box-shadow: 0 1px 0 1px rgb(0 0 0 / 20%), 0 1px 2px 0px rgb(0 0 0 / 60%), inset 0px 0px 3px 0px rgb(255 255 255 / 30%);
    }

    .book-appendix-tree-viewer-controls-divider {
        position: absolute;
        background: #fff;
        height: 1px;
        width: 70%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .book-appendix-tree-viewer-controls button svg {
        width: 1.5em;
    }

    .book-appendix-tree-viewer-fullscreen-button {
        cursor: default;
        display: flex;
        position: absolute;
        bottom: 0;
        right: 0;
        background: #0000006e;
        background: #ffffff87;
        border: none;
        border-right: none;
        margin: 0;
        padding: 8px;
        border-top: none;
        border-radius: 10px 0 0 0;
        z-index: 1;
    }

    .book-appendix-tree-viewer-fullscreen-button svg {
        width: 1.25em;
        fill: #fff;
        fill: #15404e;
    }

    #treeMinimize {
        display: none;
    }

    .book-appendix-tree-viewer-enlarged {
        display: block;
        position: fixed;
        border-radius: 10px !important;
        background: #363636;
    }

    .book-appendix-tree-section-list {
        display: none;
        position: fixed;
        background: #fff;
        border: 3px solid #000;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: #363636bf 5px 8px 7px 1px;
        transform: translateY(-100%);
        color: #000;
        z-index: 1000;
    }

    .book-appendix-tree-section-title {
        width: 100%;
        text-align: center;
        background: #dcdcdc;
        font-size: 1.375em;
        padding: 0.25em 1em;
        box-sizing: border-box;
    }

    .book-appendix-tree-section-content {
        padding: 0.5em 1em;
    }

    .book-appendix-tree-section-subheader {
        font-weight: 300;
        font-size: 1.15em;
    }

    .book-appendix-tree-section-example-list {
        list-style-type: disc;
        list-style-position: inside;
        margin-left: 10px;
    }

    .book-appendix-tree-section-example-list li {
        margin: 0.5em 0;
    }

    .book-appendix-tree-section-example-list a {
        color: #325c69;
        text-decoration: underline;
    }

    /* || REFERENCES styles */
    .csl-entry {
        display: flex;
        flex-direction: row;
        margin-bottom: 1em;
    }

    .csl-left-margin {
        margin-right: 0.5em;
    }

    /* || PROFILES styles */
    .book-profiles-bio {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .book-profiles-bio img {
        margin-right: 2em;
    }

    .book-profile-blurb {
        width: 100%;
        text-align: right;
        max-height: 267px;
        overflow: auto;
    }

    /* || FEATURES styles */
    .book-features-ref-list {
        padding-left: 1.5em;
    }

    .book-features-ref-list li {
        margin: 1em 0;
    }

    /* || ABOUT page styles */
    .book-appendix-page .subsection-modal-container {
        max-width: none;
        max-height: none;
        width: 640px;
        height: 85%;
        min-width: 640px;
    }

    .book-appendix-page iframe {
        width: 100%;
        height: 100%;
    }

    .feedback-offline-message {
        display: none;
        color: #000000;
        height: fit-content;
        margin-top: auto;
        margin-bottom: auto;
        text-align: center;
    }

    /* || MOBILE page styles */
    .page-controls-mobile {
        display: none;
    }

    .modal-exit-button-mobile {
        display: none;
    }

    .header-nav-button-mobile {
        display: none;
    }

    .mobile-footer-data {
        display: none;
    }

    .book-section-comparison-exit-fullscreen {
        display: none;
    }

    .video-quality-changer-mobile {
        display: none;
    }
}