.caption {
  color: #777;
  margin-top: 10px;
}
.book .book-body .page-wrapper .page-inner section.normal h2{
  margin-top: 0;
  margin-bottom: 0;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
.level3 {
  background: #D3D3D3;
  border-radius: 25px;
  padding: 15px;
  margin: 10px;
}
.book .book-summary ul.summary > li a:hover, .book .book-summary ul.summary li.active > a{
  color: #76777B;
  font-style: oblique;
}
.book .book-summary ul.summary > li a:hover, .book .book-summary ul.summary li.active > a{
  color: #76777B;
  font-style: oblique;
}
.book .book-summary ul.summary > li:nth-child(5) a:hover{
  background: #BCD3ED;
}
.book .book-summary ul.summary > li:nth-child(6) a:hover{
  background: #9AC3C7;
}
.book .book-summary ul.summary > li:nth-child(7) a:hover{
  background: #99BD99;
}
.book .book-summary ul.summary > li:nth-child(8) a:hover{
  background: #FFEF99;
}
.book .book-summary ul.summary > li:nth-child(9) a:hover{
  background: #FFC799;
}
.book .book-summary ul.summary > li:nth-child(10) a:hover{
  background: #FAB19C;
}
.book .book-summary ul.summary > li:nth-child(11) a:hover{
  background: #E0A1A4;
}
.book .book-summary ul.summary > li:nth-child(12) a:hover{
  background: #C29DB2;
}
.book .book-summary ul.summary > li:nth-child(13) a:hover{
  background: #BAAFCC;
}
